@CHARSET "UTF-8";
.red_block{
	float:left;
	width: 5px;
	height: 15px;
	background-color: #98bd3c;
}

.theme1{ background-color:#98bd3c; color:#fff;}

.sale_price {margin-top:10px;width: 100%;height: 30px;background-color: #98bd3c;background-image: url('/front/skin/main/img/triangle.png'); background-repeat: no-repeat; background-position: 2px 2px;}
.sale_price .triangle{padding-top: 2px; padding-left: 2px; float: left;}
.sale_price .title_style {float: left;font-size: 15px;color: #FFF;line-height: 30px; width:80%;}
.sale_price .icon {float: left;margin-top:10px;height:8px;width:8px;background:url('/front/skin/main/img/more.png') no-repeat; background-size:8px 8px;}
.sale_price .desc {float: left;color:#ffffff; right:0px;  padding-top :6px; font-size: 12px;}
 
 /* by dikim template 20 */
.barTitle {margin-top:10px;width: 100%;height: 30px;background-color: #98bd3c;}
.barTitle .triangle{padding-top: 2px; padding-left: 2px; float: left;}
.barTitle .title_style {float: left;font-size: 15px;color: #FFF;line-height: 30px; width:83%;}
.barTitle .icon {float: left;margin-top:10px;height:8px;width:8px;background:url('/front/skin/main/img/more.png') no-repeat; background-size:8px 8px;}
.barTitle .desc {float: left;color:#ffffff; right:0px;  padding-top :6px; font-size: 12px;}


/* by dikim template 18 */
.imgTempThree .sliderList {position:relative; overflow:hidden;text-align: center;padding: 0px;}
.imgTempThree .sliderList ul {position:relative; width:100% !important;}
.imgTempThree .sliderList li {padding: 5px;}
 

/* by dikim template 15 */
.imgTempTwo .sliderList {position:relative; overflow:hidden;text-align: center;padding: 0px;}
.imgTempTwo .sliderList ul {position:relative; width:100% !important;}
.imgTempTwo .sliderList li {padding: 5px;}
 

/* by dikim template 12 */
.imgTempOne .sliderList {position:relative; overflow:hidden;text-align: center;padding: 0px;}
.imgTempOne .sliderList ul {position:relative; width:100% !important;}
.imgTempOne .sliderList li {padding: 5px;}
 
 
.mainCategoryMenu {position:relative;top:0; left:0;z-index:11;  }
.mainCategoryMenu  .navBtn1 {position:absolute; top:-20px; left:1%; height:37px; width:37px; overflow:hidden; text-indent:-9999px; -webkit-transition:background-color 0.5s ease-in-out; background:url('/front/skin/main/img/main_menu.png') no-repeat 50% 50%; background-size:28px auto;}
.mainCategoryMenu  .navBtn1.on {background:url('/front/skin/main/img/main_menu.png') no-repeat 50% 50% #e0e0e0; background-size:28px auto;position:absolute; top:-20px; left:1%; height:37px; width:37px; overflow:hidden; text-indent:-9999px; -webkit-transition:background-color 0.5s ease-in-out;}
 

.mainTopSearchCart{
	width: 28px;
	height: 28px;
	vertical-align: middle;
	padding-bottom: 3px;
}

.skin_block{
	float:left;
	width: 4px;
	height: 16px;
	background-color: #98bd3c;
	margin-left: 2%;
}

body .headerMain {margin:0px; padding:0px; border-bottom:1px solid #98bd3c; border-top:1px solid #98bd3c;}
body .headerMain .searchPmd {position:relative; height:57px; width: 100%; background-color: #f0f0f0;}
body .headerMain .searchPmd .title {position:absolute; width:100%; padding: 10px 15px 30px 15px;}
body .headerMain .searchPmd .title input[type=text] {width:90%; height: 37px; -webkit-border-radius: 8px;  -moz-border-radius: 8px;border-radius: 8px;}
body .headerMain .searchPmd .btnSearch {position:absolute; width: 37px; height: 37px; top: 10px; right:15px; background:url('/front/skin/demo/img/common/btn_search.png') no-repeat; background-size: 100% 100%;}


body .headerList {margin:0px; padding:0px; border-bottom:1px solid #98bd3c; border-top:1px solid #98bd3c;}
body .headerList .searchPmd {position:relative; height:57px; width: 100%; background-color: #f0f0f0;}
body .headerList .searchPmd .btnShare {position:absolute; width: 37px; height: 37px; top: 10px; left:10px; background:url('/front/skin/demo/img/common/btn_share.png') no-repeat; background-size: 100% 100%;}
body .headerList .searchPmd .title {position:absolute; width:71%; padding: 10px 15px 30px 52px;}
body .headerList .searchPmd .title input[type=text] {width:90%; height: 37px; -webkit-border-radius: 8px;  -moz-border-radius: 8px;border-radius: 8px;}
body .headerList .searchPmd .btnSearch {position:absolute; width: 37px; height: 37px; top: 10px; right:52px; background:url('/front/skin/demo/img/common/btn_search.png') no-repeat; background-size: 100% 100%;}
body .headerList .searchPmd .listClass {position:absolute; width: 37px; height: 37px; top: 10px; right:10px; background:url('/front/skin/demo/img/common/btn_Pictureview.png') no-repeat; background-size: 100% 100%;}
body .headerList .searchPmd .listClass2 {position:absolute; width: 37px; height: 37px; top: 10px; right:10px; background:url('/front/skin/demo/img/common/btn_listview.png') no-repeat; background-size: 100% 100%;}


body .headerDetail {margin:0px; padding:0px; border-bottom:1px solid #98bd3c; border-top:1px solid #98bd3c;}
body .headerDetail .searchPmd {position:relative; height:57px; width: 100%; background-color: #f0f0f0;}
body .headerDetail .searchPmd .logoShare {position:absolute; width: 37px; height: 37px; top: 10px; left:10px;}
body .headerDetail .searchPmd .title {position:absolute; font-size: 14px; width:71%; height:57px; line-height:57px; vertial-align: middle; left:52px;}
body .headerDetail .searchPmd .btnShare {position:absolute; width: 37px; height: 37px; top: 10px; right:10px; background:url('/front/skin/demo/img/common/btn_share.png') no-repeat; background-size: 100% 100%;}

 

/* by dikim headerSkin12 */
body .headerSkin1 {margin:0px; padding:0px; border-bottom:1px solid #B9003A; border-top:1px solid #B9003A;}
body .headerSkin1 .searchSkin1 {position:relative; height:50px; width: 100%; background-color: #F6F6F6;}
body .headerSkin1 .searchSkin1 .navBtn1 {position:absolute; width: 37px; height: 37px; top: 10px; left:10px; background:url('/front/skin/main/img/main_menu.png') no-repeat; background-size: 80% 80%;}
body .headerSkin1 .searchSkin1 .navBtn1.on {position:absolute; width: 37px; height: 37px; top: 10px; left:10px; background:url('/front/skin/main/img/main_menu.png') no-repeat; background-size: 80% 80%;-webkit-transition:background-color 0.5s ease-in-out;}
body .headerSkin1 .searchSkin1 .title input[type=text] {width:90%; height: 37px; -webkit-border-radius: 8px;  -moz-border-radius: 8px;border-radius: 8px;}
body .headerSkin1 .searchSkin1 .listCart {position:absolute; width: 37px; height: 37px; top: 10px; right:10px; background:url('/front/skin/main/img/main_cart.png') no-repeat; background-size: 80% 80%;}
body .headerSkin1 .searchSkin1 .navSearch {position:absolute; width: 37px; height: 37px; top: 10px; right:52px; background:url('/front/skin/main/img/main_search.png') no-repeat; background-size: 80% 80%;}
/* by dikim headerSkin12 */


/* /front/skin/main/img/icon/icon_list_gray.png */

.orderby { left:0; bottom:0; width:100%; text-align:center;  }
.orderby .button {float:left; width:20%; padding:0 8px; margin-left:10px;margin-top: -10px;height: 27px;}
.orderby .button + .button {margin-left:2px;}

.button.footer_bought {
	background:#989798;padding-top:4px;color: #fff;
	/**圆角**/
	-webkit-border-radius: 4px;  -moz-border-radius: 4px;  border-radius: 4px; 
}

.bottom_totop {
	position:fixed; 
	z-index:8; 
	right:1px;
	bottom:5px; height:51px; width:51px; 
	text-indent:-9999px;
	background:url('/front/skin/main/img/icon/btn_top_green.png') no-repeat 50% 50%; 
	background-size:50px auto;
}

.tabOrder {border-top:1px solid #4a433b;}
.tabOrder:after {content:''; display:block; clear:both;}
.tabOrder li {float:left; width:20%;}
.tabOrder li a {vertical-align:top; display:block; height:36px; font-size:14px; line-height:36px; text-align:center; color:#4a433b; }
.tabOrder li + li {width:20%;}
.tabSt1 li + li a {border-left:1px solid #4a433b;}
.tabOrder li.on a,
.tabOrder li a.on { padding-bottom:1px; border-bottom:2px solid #98bd3c;}
.tabOrder.length2 li {width:50%;}
.tabOrder.length4 li {width:25%;}

.order li a .price{display:block; color:#98bd3c; font-size:16px;text-align: right;margin-right: 8px;}

.split_line{
	margin-left:5px;
	margin-right:5px;
	width: 1px;
	height: 30px;
	background-color: #98bd3c;
}

.split_line_fatter{
	margin-left:5px;
	margin-right:5px;
	width: 2px;
	height: 20px;
	margin-top:5px;
	background-color: #98bd3c;
/* 	border: 1px solid  #98bd3c; */
}

.detail_tabSt1 {border-top:1px solid #4a433b;}
.detail_tabSt1:after {content:''; display:block; clear:both;}
.detail_tabSt1 li {float:left; width:34%;background-color: #98bd3c;}
.detail_tabSt1 li a {vertical-align:top; display:block; height:42px; font-size:16px; line-height:42px; text-align:center; color:#fff; border-bottom:1px solid #4a433b;}
.detail_tabSt1 li + li {width:33%;}
.detail_tabSt1 li + li a {border-left:1px solid #4a433b;}
.detail_tabSt1 li.on a,
.detail_tabSt1 li a.on {
	color:#fff; padding-bottom:1px; border-bottom:0;
	background: url("/front/skin/main/img/triangle.png") no-repeat 0% 0%;
}
.detail_tabSt1.length2 li {width:50%;}
.detail_tabSt1.length4 li {width:25%;}
.detail_tabSt1Cont h2 {display:none;}
.detail_tabSt1Cont > .btnArea:last-child,
.detail_tabSt1Cont > .moreList:last-child {padding-bottom:0;}
@media all and (max-width:345px) {
.detail_tabSt1 li a {font-size:15px;}
}

/* detail 상품 설명 css 신규 추가 by dikim 20150228 */
.detail-Desc {
	font-size:15px; color:#696969; 
	font-family: microsoft Yahei; 
	word-break:break-all; 
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/* detail 상품 설명 css 신규 추가 */

.btn1.footer_bought {background:#98bd3c;-webkit-border-radius: 4px;  -moz-border-radius: 4px;  border-radius: 4px; }

/* .productAttribute {display: none;} */
.productAttribute .inner {overflow-y:auto; max-height:100%; padding:0 0 5px 0; box-sizing:border-box;}
.productAttribute .inner h2 {margin-top:13px; padding:0 10px; font-weight:bold; font-size:15px;}
.productAttribute .inner ul {overflow:hidden; padding:3px 10px 0 8px;}
.productAttribute .inner ul li {float:left; width:33%; margin-top:2px; padding-left:2px; box-sizing:border-box;}
.productAttribute .inner ul li:nth-child(3n) {width:34%;}
.productAttribute .inner ul li:nth-child(1),
.productAttribute .inner ul li:nth-child(2),
.productAttribute .inner ul li:nth-child(3) {margin-top:0;}
.productAttribute .inner ul li{display:block; text-align:center; font-size:12px; line-height:33px; color:#4a433b; border:1px solid #e5e5e5;color:#000;}
.productAttribute .inner ul li:hover,.productAttribute .inner ul li.hover{background: #98bd3c;border:1px solid #98bd3c;color:#fff;}

.productAttribute1 .inner1 {overflow-y:auto; max-height:100%; padding:0 0 5px 0; box-sizing:border-box;}
.productAttribute1 .inner1 h2 {margin-top:13px; padding:0 10px; font-weight:bold; font-size:15px;}
.productAttribute1 .inner1 ul {overflow:hidden; padding:3px 10px 0 8px;}
.productAttribute1 .inner1 ul li {float:left; width:33%; margin-top:2px; padding-left:2px; box-sizing:border-box;}
.productAttribute1 .inner1 ul li:nth-child(3n) {width:34%;}
.productAttribute1 .inner1 ul li:nth-child(1),
.productAttribute1 .inner1 ul li:nth-child(2),
.productAttribute1 .inner1 ul li:nth-child(3) {margin-top:0;}
.productAttribute1 .inner1 ul li{display:block; text-align:center; font-size:12px; line-height:33px; color:#4a433b; border:1px solid #e5e5e5;color:#000;}
.productAttribute1 .inner1 ul li:hover {background: #98bd3c;border:1px solid #98bd3c;color:#fff;}

.attrChoose{color:#fff !important;;background: #98bd3c;border:1px solid #98bd3c;}

#kkpager span.curr{
	padding:3px 8px;
	margin:2px;
	font-size:12px;
	border:1px solid #98bd3c;
	background-color:#98bd3c;
	color:#FFF;
}
#kkpager a{
	padding:3px 6px;
	margin:2px;
	font-size:12px;
	border:1px solid #cccccc;
	background-color:#FFF;
	color:#98bd3c;
	text-decoration:none;
	font-family: Verdana;
	
}

/* .sliderpage {position:absolute; bottom:0; left:0; right:0; text-align:center; line-height:0; font-size:0; } */
/* .sliderpage .btnPage {width:17px;height:5px; background:url("/front/skin/main/img/icon/point_gray.png") no-repeat; background-size:17px 5px;border: 0;} */
/* .sliderpage .btnPage + .btnPage {margin-left:8px;} */
/* .sliderpage .btnPage.on {background:url("/front/skin/main/img/icon/point_blue.png") no-repeat; background-size:17px 5px;border: 0;} */
/* ececee */

.detailTopSlide {position:relative; overflow:hidden;}
.detailTopSlide h2 {display:none;}
.detailTopSlide .sliderList {position:relative; overflow:hidden;}
.detailTopSlide .sliderList ul {position:relative; width:100% !important; background:#fff;}
.detailTopSlide .sliderList img {width:100%; height: 250px;}
.detailTopSlide .sliderList li {position:absolute; height: 280px;background:#ececee;}
.detailTopSlide .sliderList li:first-child {position:relative !important;}
.detailTopSlide .sliderList li a {display:block;}
.detailTopSlide .sliderpage {background:#ececee;position:absolute; height:30px; bottom:-8px; width:100%; text-align:center;}


.sliderpage {position:absolute; bottom:0; left:0; right:0; text-align:center; line-height:0; font-size:0; }
.sliderpage .btnPage {height:12px; width:12px; font-size:0; line-height:0; -webkit-border-radius: 6px;  -moz-border-radius: 6px;border-radius: 6px; border:1px solid #98bd3c; background:#ececee;}
.sliderpage .btnPage + .btnPage {margin-left:8px;}
.sliderpage .btnPage.on {background:#98bd3c;}

.btn-icon{display:inline-block;width:50%;height:40px;position:relative;cursor:pointer;background-color:#98bd3c;color:#fff;margin-top:5px;line-height:40px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
/* START  订单确认,地址的创建，修改，选择页面样式 */
/* 订单确认*/
.containDiv .submitDiv .divSubmit{width:70%;height:36px;border-radius:4px;background-color:#98bd3c;text-align:center;color:#ffffff;line-height:36px;margin-left:10px;font-size:13px;margin-top:11px} 
/* 地址选择*/
.submitDiv .divBottom .newAddress{display:inline-block;background-color:#98bd3c;height:36px;width:45%;min-width:135px;color:#ffffff;margin-top:13px;line-height:36px;text-align:center;font-size:13px;border-radius:4px}
/* 地址修改，地址创建*/
.submitDiv .divBottom .divSubmit{display:inline-block;background-color:#98bd3c;height:36px;width:40%;min-width:70px;color:#ffffff;margin-top:13px;line-height:36px;text-align:center;font-size:13px;border-radius:4px;cursor:pointer} 
/* END  订单确认,地址的创建，修改，选择页面样式 */
.review_button{display:inline-block;position:relative;padding:0 4px;text-align:center;text-decoration:none;text-shadow:1px 1px 1px rgba(255,255,255, .22);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);-moz-box-shadow:1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);box-shadow:1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);-webkit-transition:all 0.15s ease;-moz-transition:all 0.15s ease;-o-transition:all 0.15s ease;-ms-transition:all 0.15s ease;transition:all 0.15s ease;background-color:#98bd3c;color:#fff;font-size:16px;width:180px;height:30px;line-height:30px}


/* START  main page dynamic select */ 
/* by dikim */
.listProductOne {position:relative; margin-top:-1px; border-top:1px solid #c8c8c8;}
.listProductOne li {position:relative; border-bottom:1px solid #c8c8c8; width:100%;}
.listProductOne li a {position:relative; display:block; margin:10px; width:auto; text-align: center;}
.listProductOne li a .thumb {position:relative; top:10px; height:100%; width:100%; text-align: center;}
.listProductOne li a .thumb img {width:100%; height:100%;}
.listProductOne li:nth-child(1) a .best,
.listProductOne li:nth-child(2) a .best,
.listProductOne li:nth-child(3) a .best { background:url('/img/common/bg_best.png') left bottom no-repeat; background-size:100% auto;}
.listProductOne li:nth-child(1) a .best span,
.listProductOne li:nth-child(2) a .best span,
.listProductOne li:nth-child(3) a .best span {margin:16px 0 0 9px; text-align:left;}
.listProductOne li a .brand {display:block; color:#000; font-size:16px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.listProductOne li a .name {display:block; color:#000; font-size:14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.listProductOne li a .price {display:inline-block; color:#ef3f3b; font-size:16px; font-weight:bold;}
.listProductOne li a .price2 {display:inline-block; color:#000; font-size:12px;}
.listProductOne li a .rmb {display:block; color:#988978; font-size:14px;}
.listProductOne li .cartWrap {position:absolute; top:50%; right:10px; margin-top:-20px;}
.listProductOne li .cartWrap .select {position:relative; height:40px; width:40px; box-sizing:border-box; border:1px solid #dbdbdb;}
.listProductOne li .cartWrap .select span {display:block; font-size:15px; line-height:38px; text-align:center; }
.listProductOne li .cartWrap .select select {position:absolute; top:0; left:0; opacity:0; width:100%; height:100%; padding:0; border:0;}
.listProductOne .moreList {padding:10px !important;}


.listProductTwo {position:relative; margin-top:-1px; border-top:1px solid #c8c8c8;}
.listProductTwo li {display:block; position:relative; border-bottom:1px solid #c8c8c8; width:50%;}
.listProductTwo li a {position:relative; display:block; margin:10px; width:auto; text-align: center;}
.listProductTwo li a .thumb {position:relative; top:10px; height:100%; width:100%; text-align: center;}
.listProductTwo li a .thumb img {width:100%; height:100%;}
.listProductTwo li:nth-child(1) a .best,
.listProductTwo li:nth-child(2) a .best,
.listProductTwo li:nth-child(3) a .best { background:url('/img/common/bg_best.png') left bottom no-repeat; background-size:100% auto;}
.listProductTwo li:nth-child(1) a .best span,
.listProductTwo li:nth-child(2) a .best span,
.listProductTwo li:nth-child(3) a .best span {margin:16px 0 0 9px; text-align:left;}
.listProductTwo li a .brand {display:block; color:#000; font-size:16px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.listProductTwo li a .name {display:block; color:#000; font-size:14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.listProductTwo li a .price {display:inline-block; color:#ef3f3b; font-size:16px; font-weight:bold;}
.listProductTwo li a .price2 {display:inline-block; color:#000; font-size:12px;}
.listProductTwo li a .rmb {display:block; color:#988978; font-size:14px;}
.listProductTwo li .cartWrap {position:absolute; top:50%; right:10px; margin-top:-20px;}
.listProductTwo li .cartWrap .select {position:relative; height:40px; width:40px; box-sizing:border-box; border:1px solid #dbdbdb;}
.listProductTwo li .cartWrap .select span {display:block; font-size:15px; line-height:38px; text-align:center; }
.listProductTwo li .cartWrap .select select {position:absolute; top:0; left:0; opacity:0; width:100%; height:100%; padding:0; border:0;}
.listProductTwo .moreList {padding:10px !important;}



.search-list .page-container .type-tip-text{display:block;padding:0;min-height:0;border-top:none;}
.search-list .page-container .type-tip-text ul{width:100%}
.search-list .page-container .type-tip-text a{border-top:1px solid #dbdbdb;height:44px;display:block;font-size:12px;color:#999999;line-height:44px;padding-left:16px}
.larger-view .page-container .type-tip-text{display:none}
.search-list{}
.search-list .loading{text-align:center;font-size:12px;line-height:25px;color:#999}
.search-list .h{color:#f50}
.search-list .b_grey{background:#eee}
.search-list>ul{min-height:200px}
.search-list .page-container>li{min-height:80px;padding:12px 6px;border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;margin-top:-1px;position:relative}
.search-list .page-container>li.type-tip-text{display:none}
.search-list .page-container>li .p{display:inline-block;text-align:center;overflow:hidden}
.search-list .page-container>li .p a{line-height:79px;display:inline-block;position:relative}
.search-list .page-container>li .p .flag{position:absolute;width:20px;height:20px;left:0;top:0}
.search-list .page-container>li .p .flag.c-icon-pt{background:url(SuQmCC) no-repeat 0 0;background-size:contain}
.search-list .page-container>li .p .flag.c-icon-p4p{background:url(data:ima5CYII=) no-repeat;background-size:contain}
.search-list .page-container>li .d-title{line-height:22px;margin-bottom:3px;position:relative;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-all;color:#4b566a}
.search-list .page-container>li .d .hot,
.search-list .page-container>li .d .hot2{height:20px;width:40px;font-size:12px;color:#fff;text-indent:-999px;overflow:hidden;background:url(data:image/png;base64,I=) 5px 2px no-repeat}
.search-list .page-container>li .d .hot{display:inline-block}
.search-list .page-container>li .d .hot2{position:absolute;bottom:0;right:0}
.search-list .page-container>li .d p{line-height:24px;color:#999}
.search-list .page-container>li .d p img{vertical-align:middle;margin-top:-4px}
.search-list .page-container>li .d .d-price .h{font-size:16px}
.search-list .page-container>li .d .d-price del{font-size:10px;margin-left:5px}
.search-list .page-container>li .d .d-main{display:-webkit-box;margin-top:-1px;height:20px;overflow:hidden}
.search-list .page-container>li .d .d-main p{font-size:10px;overflow:hidden}
.search-list .page-container>li .d .d-main .d-num{-webkit-box-flex:1;text-align:center}
.search-list .page-container>li .d .d-main .d-area{text-align:right}
.search-list .page-container>li .tips{position:absolute;right:0;top:35px;height:20px;padding:5px 10px;color:#fff;background:rgba(0,0,0,0.5);border-radius:2px;-webkit-border-radius:2px}
.search-list .page-container>li .tips:before{content:'';display:inline-block;position:absolute;bottom:-10px;right:5px;border:5px solid #eee;border-top:5px solid #777}
.search-list .icons-group{position:absolute;right:0;top:0;color:white;line-height:16px;height:16px}
.search-list .icons-group>div{float:right;font-size:12px;padding:0px 3px}
.search-list .icons-group>div .item-icon{display:inline-block;margin-right:2px}
.search-list .icons-group .item-icons-zx{background-color:#2b8cfe;}
.search-list .icons-group .item-icons-jinbi{background-color:#ff9700}
.search-list .icons-group .item-icons-ju{background-color:#d51938}
.page-container{overflow:hidden}
.larger-view{width:100%;margin:0 auto;padding-top:1px;overflow:hidden}
.larger-view .page-container{margin-top:-1px}
.larger-view .page-container li{float:left;width:50%;border:1px solid #e0e1e1;margin-left:-1px;border-right:none;margin-top:-1px;padding:12px 0;overflow:hidden}
.larger-view .page-container li:last-child:not(.mark){display:none}
.larger-view .page-container li .sku li{background:none}
.larger-view .page-container li.mark{margin-right:0}
.larger-view .page-container li .list-item{display:block;padding:0 12px}
.larger-view .page-container li .p{display:block;width:100%;margin-bottom:5px;margin-left:0;overflow:hidden}
.larger-view .page-container li .p a{line-height:126px;border:none;background:none;text-align:center;width:100%;padding:50% 0;height:0}
.larger-view .page-container li .p .p-pic{width:100%;position:absolute;top:0;left:0}
.larger-view .page-container li .d h3{display:none}
.larger-view .page-container li .d .d-main{margin-top:0;line-height:12px}
.larger-view .page-container li .d .d-main .d-num{width:100%;text-align:left}
.larger-view .page-container li .d .d-main .hot{display:inline-block;background-color:rgba(0,0,0,0)}
.larger-view .page-container li .d .d-price{line-height:12px;margin-top:12px}
.larger-view .page-container li .d .d-price .h{font-size:14px}
.larger-view .page-container li .J_PreviewArrow{height:26px;width:auto;top:0px;right:0;margin:0 8px;position:relative}
.larger-view .page-container li .J_PreviewArrow.down{background:#eee}
.larger-view .page-container li .J_PreviewArrow.up .arrow{bottom:11px;right:42%}
.larger-view .page-container li .J_PreviewArrow.down .arrow{bottom:5px;right:42%}
.larger-view .page-container #J_PrevLarge{width:100%;display:none;background:#eee;clear:both}
.larger-view .page-container .J_Preview{background:#eee;margin:0}
.larger-view .page-container .J_Preview:before{content:none}
.larger-view .page-container .J_Preview .photo_ul li{border:none}
.larger-view .page-container .J_Preview.left:before{right:160px}
.larger-view .page-container .d h3.d-title{margin-right:0}
.larger-view .page-container .d-area,.larger-view .page-container .d-freight{display:none}
.list-view .p{width:100px;height:100px;margin-right:10px;margin-left:8px}
.list-view .page-container>li.type-tip-text{display:block}
.list-view .d{margin:4px 15px 6px 0;-webkit-box-flex:1}
.list-view .d-price .h{font-size:14px}
.list-view .list-item{display:-webkit-box}
.list-view .d-title{font-size:12px;height:44px}
.list-view .p-pic{width:100px;height:100px}
.largest-view{}
.largest-view .p{width:100%;}.largest-view .p a{width:100%}
.largest-view .d{margin-top:12px}
.largest-view>ul li{padding:16px 12px} 
.largest-view .p a{width:100%;padding:50% 0;height:0}
.largest-view .p .p-pic{width:100%;position:absolute;top:0;left:0}
.largest-view .d-title{font-size:14px}
.largest-view .J_PreviewArrow{display:none}
/* by dikim */
/* END  main page dynamic select */




/* START list page Class */ 
/* by dikim */
.list-search-list .page-container .type-tip-text{display:block;padding:0;min-height:0;border-top:none;}
.list-search-list .page-container .type-tip-text ul{width:100%}
.list-search-list .page-container .type-tip-text a{border-top:1px solid #dbdbdb;height:44px;display:block;font-size:12px;color:#999999;line-height:44px;padding-left:16px}
.list-larger-view .page-container .type-tip-text{display:none}
.list-search-list{}
.list-search-list .loading{text-align:center;font-size:12px;line-height:25px;color:#999}
.list-search-list .h{color:#f50}
.list-search-list .b_grey{background:#eee}
.list-search-list>ul{min-height:200px}
.list-search-list .page-container>li{min-height:80px;padding:12px 6px;border-top:0px solid #dbdbdb;border-bottom:0px solid #dbdbdb;margin-top:-1px;position:relative}
.list-search-list .page-container .blogListLiCss {padding:3px 6px;}
.list-search-list .page-container>li.type-tip-text{display:none}
.list-search-list .page-container>li .p{display:inline-block;text-align:center;overflow:hidden}
.list-search-list .page-container>li .p a{line-height:79px;display:inline-block;position:relative}
.list-search-list .page-container>li .p .flag{position:absolute;width:20px;height:20px;left:0;top:0}
.list-search-list .page-container>li .p .flag.c-icon-pt{display:none;font-size: 12px; line-height: 20px;background-color: #ff7f38; color: #ffffff; vertial-align:middle; text-align: center; height:20px;width:70px;}
.list-search-list .page-container>li .d-title{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:22px;margin-bottom:3px;position:relative;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-all;color:#4b566a}
.list-search-list .page-container>li .d .flag.c-icon-p4p{width: 100%; height:100%; vertical-align: middle; text-align:right; position:absolute; right: 20px; top:40%; color: #98bd3c;}
.list-search-list .page-container>li .d .hot,
.list-search-list .page-container>li .d .hot2{height:20px;width:40px;font-size:12px;color:#fff;text-indent:-999px;overflow:hidden;background:url(data:image/png;base64,I=) 5px 2px no-repeat}
.list-search-list .page-container>li .d .hot{display:inline-block}
.list-search-list .page-container>li .d .hot2{position:absolute;bottom:0;right:0}
.list-search-list .page-container>li .d p{line-height:24px;color:#999}
.list-search-list .page-container>li .d p img{vertical-align:middle;margin-top:-4px;}
.list-search-list .page-container>li .d .d-price .h{font-size:16px}
.list-search-list .page-container>li .d .d-price del{font-size:10px;margin-left:5px}
.list-search-list .page-container>li .d .d-main {margin-top:-1px;height:40px;overflow:hidden}
.list-search-list .page-container>li .d .d-main p{font-size:10px;overflow:hidden}
.list-search-list .page-container>li .d .d-main .d-freight{width:100%;-webkit-box-flex:1;text-align:left;}
.list-search-list .page-container>li .d .d-main .d-num{width:100%;-webkit-box-flex:1;text-align:left;}
/* .list-larger-view .page-container li .d .d-main .d-num .star-num {position: absolute; width:80px;height:19.32px;} */
.list-search-list .page-container>li .d .d-main .d-num .hollow {position: absolute; width:120px; height: 19.32px; margin:2px; background:url('/front/skin/demo/img/common/star_hollow.png') no-repeat 0 0; background-size:120px 19.32px;}
.list-search-list .page-container>li .d .d-main .d-num .solid {position: absolute; height: 19.32px; margin:0px; background:url('/front/skin/demo/img/common/star_solid.png') no-repeat 0 0; background-size:120px 19.32px;}
.list-search-list .page-container>li .tips{position:absolute;right:0;top:35px;height:20px;padding:5px 10px;color:#fff;background:rgba(0,0,0,0.5);border-radius:2px;-webkit-border-radius:2px}
.list-search-list .page-container>li .tips:before{content:'';display:inline-block;position:absolute;bottom:-10px;right:5px;border:5px solid #eee;border-top:5px solid #777}
.list-search-list .icons-group{position:absolute;right:0;top:0;color:white;line-height:16px;height:16px}
.list-search-list .icons-group>div{float:right;font-size:12px;padding:0px 3px}
.list-search-list .icons-group>div .item-icon{display:inline-block;margin-right:2px}
.list-search-list .icons-group .item-icons-zx{background-color:#2b8cfe;}
.list-search-list .icons-group .item-icons-jinbi{background-color:#ff9700}
.list-search-list .icons-group .item-icons-ju{background-color:#d51938}
.page-container{overflow:hidden}
.list-larger-view{width:100%;margin:0 auto;padding-top:1px;overflow:hidden}
.list-larger-view .page-container{margin-top:-1px}
.list-larger-view .page-container li{float:left;width:50%;border:0px solid #e0e1e1;margin-left:-1px;border-right:none;margin-top:-1px;padding:6px 0;overflow:hidden}
.list-larger-view .page-container .blogListLiCss {padding:6px 0;}
.list-larger-view .page-container li:nth-child(1n) .blogLiPadding{padding-left:6px;padding-right:3px;}
.list-larger-view .page-container li:nth-child(2n) .blogLiPadding{padding-right:3px;}
/* .list-larger-view .page-container li:last-child:not(.mark){display:none} */
.list-larger-view .page-container li .sku li{background:none}
/* .list-larger-view .page-container li.mark{margin-right:0} */
.list-larger-view .page-container li .list-item{display:block;padding:0 12px}
.list-larger-view .page-container li .list-item-blog{background-color: #ffffff; display:block; padding:12px 12px; border: 1px solid #c5c5c5;}
.list-larger-view .page-container li .p{display:block;width:100%;margin-bottom:5px;margin-left:0;overflow:hidden}
.list-larger-view .page-container li .p a{line-height:126px;border:none;background:none;text-align:center;width:100%;padding:50% 0;height:0}
.list-larger-view .page-container li .p .flag.c-icon-pt {display:block;}
.list-larger-view .page-container li .p .p-pic{width:100%; position:absolute;top:0;left:0; border: 1px solid #ededed;}
.list-larger-view .page-container li .d .flag.c-icon-p4p {display: none;}
.list-larger-view .page-container li .d h3 {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;} /*display:none*/
.list-larger-view .page-container li .d .d-main {display:-webkit-box; margin-top:0;line-height:12px}
.list-larger-view .page-container li .d .d-main .d-freight{width: 35%; text-align:left}
.list-larger-view .page-container li .d .d-main .d-num {width:65%; text-align:left}
/* .list-larger-view .page-container li .d .d-main .d-num .star-num {position: absolute; width:80px;height:12.88px;} */
.list-larger-view .page-container li .d .d-main .d-num .hollow {position: absolute; width:80px; height: 12.88px; margin-top:5px; background:url('/front/skin/demo/img/common/star_hollow.png') no-repeat 0 0; background-size:80px 12.88px;}
.list-larger-view .page-container li .d .d-main .d-num .solid {position: absolute; width:80px; height: 12.88px; margin:0; background:url('/front/skin/demo/img/common/star_solid.png') no-repeat 0 0; background-size:80px 12.88px;}
.list-larger-view .page-container li .d .d-main .hot{display:inline-block;background-color:rgba(0,0,0,0)}
.list-larger-view .page-container li .d .d-price{line-height:12px;margin-top:12px}
.list-larger-view .page-container li .d .d-price .h{font-size:14px}
.list-larger-view .page-container li .J_PreviewArrow{height:26px;width:auto;top:0px;right:0;margin:0 8px;position:relative}
.list-larger-view .page-container li .J_PreviewArrow.down{background:#eee}
.list-larger-view .page-container li .J_PreviewArrow.up .arrow{bottom:11px;right:42%}
.list-larger-view .page-container li .J_PreviewArrow.down .arrow{bottom:5px;right:42%}
.list-larger-view .page-container #J_PrevLarge{width:100%;display:none;background:#eee;clear:both}
.list-larger-view .page-container .J_Preview{background:#eee;margin:0}
.list-larger-view .page-container .J_Preview:before{content:none}
.list-larger-view .page-container .J_Preview .photo_ul li{border:none}
.list-larger-view .page-container .J_Preview.left:before{right:160px}
.list-larger-view .page-container .d h3.d-title{margin-right:0}
.list-list-view .p{width:100px;height:100px;margin-right:10px;margin-left:8px}
.list-list-view .page-container>li.type-tip-text{display:block}
.list-list-view .d{margin:4px 15px 6px 0;-webkit-box-flex:1}
.list-list-view .d-price .h{font-size:14px}
.list-list-view .list-item{display:-webkit-box}
.list-list-view .list-item-blog{padding-top: 12px; padding-bottom: 12px; background-color: #ffffff; display:-webkit-box; border: 1px solid #c5c5c5;}
.list-list-view .d-title{font-size:12px;height:22px}
.list-list-view .p-pic{width:100px;height:100px; border: 0px solid #ededed;}

.listMsg {padding-left: 10px; font-family: Microsoft Yahei; font-size: 14px;}
.listMsg span {font-family: Microsoft Yahei; font-size: 18px; font-wight: bold; color: #98bd3c;}


/* by dikim */
/* END list page Class */ 


/* START list page button */
.nextBtn {border:1px solid #98bd3c;color:#98bd3c; background:#ffffff}
.nextBtnDisable {border:1px solid #e0e1e1;color:#e0e1e1; background:#ffffff}
.prevBtn {border:1px solid #98bd3c;color:#98bd3c; background:#ffffff}
.prevBtnDisable {border:1px solid #e0e1e1;color:#e0e1e1; background:#ffffff}
.listNaviBtn a {color:#98bd3c;}
/* END list page button */


/*******added by zhengtaifan******************/ 
.cartlist2 .liDiv .rightDiv .money {position: absolute;top: 17px; right:0; width: 100%;height: 30px;text-align: left;color: #98bd3c;font-size: 15px;}
.cartlist2 .liDiv .rightDiv .money .priceQty {margin-top: -43px;margin-left: 18px;border: 0;width: 94%;height: 20px;color: #98bd3c;font-size: 13px;} 
.receive-info dt .label-perfix{display: inline-block;width: 5px;height:15px;background-color:#98bd3c;margin-right: 10px;margin-left: 5px;}  
.confimOrder li a .price input {width:59px;	color:#98bd3c;text-align: left;border:0; font-size:14px;} 
.confimOrder li a .rmb .price{font-size:14px;color:#98bd3c;} 
.orderBlank li .label-perfix{display: inline-block;width: 5px;height:15px;background-color:#98bd3c;margin-right: 10px;margin-left: 5px;} 
.addressList li a .defaultAddress{position: absolute;color:#98bd3c;font-size:16px;top:2px;} 
.footerFixed .btn.theme1{background-color:#98bd3c;color:#fff;}
.footerFixed .btn.theme2{background-color:#f1c102;color:#fff;} 
/*******added by zhengtaifan******************/ 

 
 
/* START SNS Share layer Popup page */
.snsShareLayerPopup {display:none;z-index:100000; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0, 0, 0, 0.6)}
.snsShareLayerPopup .inner {
	position:absolute; 
	top:50%; 
	left:50%; 
	margin:-190px 0 0 -140px; 
	height:280px; 
	width:280px; 
	box-sizing:border-box; 
	background:#98bd3c;
	-webkit-border-radius: 20px;  
	-moz-border-radius: 20px;
	border-radius: 20px;
	overflow:hidden;
}
.snsShareLayerPopup .cont-Title {
	position:relative;
	width:100%;
	height:30px;
	text-align:right;
	padding:3px;
	top:5px;
	right:20px;
}
.snsShareLayerPopup .cont-Title img {
	width:auto; 
	height:70%;
	cursor:pointer;
}
.snsShareLayerPopup .cont-Body {
	position:relative;
	width:100%;
	height:250px;
	background:#ffffff;
}
.snsShareLayerPopup .cont-Body .shareList {overflow:hidden; padding:10px;}
.snsShareLayerPopup .cont-Body .shareList li {position:relative; float:left; height:120px; margin-bottom:-1px; padding:10px; box-sizing:border-box; width:33%; text-align:center;}
.snsShareLayerPopup .cont-Body .shareList li:nth-child(-n+3) {border-top:0 !important;}
.snsShareLayerPopup .cont-Body .shareList li:nth-child(3n+1) {width:34%;}
.snsShareLayerPopup .cont-Body .shareList li .shareIcon {width:100%; padding-top:10px; padding-bottom:10px; height:auto; border:1px solid #ececee; display:block; background-color: #f8f9f3;-webkit-border-radius: 15px;  -moz-border-radius: 15px;border-radius: 15px;}
.snsShareLayerPopup .cont-Body .shareList li .shareIcon img {width:60%; height:auto;}
.snsShareLayerPopup .cont-Body .shareList li .shareTxt {padding-top:10px; display:block; font-size:11px; color:#4a433b; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

.snsShareLayerPopup .close {position:absolute; bottom:0; right:0; height:30px; line-height:30px; padding:0 10px; color:#4a433b}
/* END SNS Share layer Popup page */
 

/* START Detial Spec list */ 
.sSpecListSpec {
	display:block; margin:0 auto; width:167px; box-sizing:border-box; text-align:center;
	background:url('/front/skin/pumeiduo/img/ico_ingredient.png') no-repeat;
	background-size: 100% 100%;
}
.sSpecListSpec span {display:block; font-size:12px; color:#4a433b;}
.sSpecListSpec .specNM {color:#4a433b; height:56px; line-height:56px; vertical-align: middle; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.sSpecListSpec .specVal {color:#ffffff; height:28px; line-height:28px;}

/* START Detial Spec list */
 
 
.detailSubTitle span {color: #ffffff; background: #98bd3c;}

.detailReviewTitle {height:39px; padding:0 10px; font-size:16px; line-height:39px; color:#696969; border:solid #c8c8c8; border-width:1px 0; background:url('/front/skin/pumeiduo/img/icon_comment.png') no-repeat 10px center #ffffff; background-size:24px auto;}
.detailReviewTitle a {padding:0 35px 0 45px; margin:0 -10px; display:block; height:39px; font-size:16px; line-height:39px; color:#696969; background:url('/front/skin/pumeiduo/img/btn_down.png') no-repeat right center; background-size:24px auto;}
.detailReviewTitle.on a {background-image:url('/front/skin/pumeiduo/img/btn_up.png');}
.detailReviewList {padding:0 10px;}
 
 
 .reviewTopRating {width:100%; height:60px; line-height: 60px; vertial-align: middle;}
 .reviewTopRating li {margin-top:10px; margin-bottom:10px; float:left; height:40px; line-height: 40px; vertial-align: middle; font-size:16px;}
 .reviewTopRating .lft {width: 40%;}
 .reviewTopRating .cnt {width: 15%;}
 .reviewTopRating .rgt {width: 45%; text-align: right;}
 
 
.detailReviewStar {margin-top:8px; height:20px;overflow:hidden}
.detailReviewStar .ReviewRating {width:100%;-webkit-box-flex:1;text-align:left;}
.detailReviewStar .ReviewRating .hollow {position: absolute; width:120px; height: 19.32px; margin:2px; background:url('/front/skin/demo/img/common/star_hollow.png') no-repeat 0 0; background-size:120px 19.32px;}
.detailReviewStar .ReviewRating .solid {position: absolute; height: 19.32px; margin:0px; background:url('/front/skin/demo/img/common/star_solid.png') no-repeat 0 0; background-size:120px 19.32px;}
 
 
 
/* blog css */
.d-blgDetail {min-height: 50px; max-height: 50px; overflow: hidden;}





/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/*		COMMON - MYPAGE - START		*/
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.user_head{background-color: #98bd3c;}
.user_integral_note{background-color: #98bd3c;}
.icon_order_obligation{width:45px; max-width:45px; background:url('/front/skin/main/img/mypage/btn_obligation.png') no-repeat #376abe; background-size: 45px auto;}
.icon_order_tobeshipped{width:45px; max-width:45px; background:url('/front/skin/main/img/mypage/btn_tobeshipped.png') no-repeat 50% 50% #376abe; background-size: 45px auto;}
.icon_order_receive{width:45px; max-width:45px; background:url('/front/skin/main/img/mypage/btn_receive.png') no-repeat 50% 50% #376abe; background-size: 45px auto;}
.icon_order_evaluate{width:45px; max-width:45px; background:url('/front/skin/main/img/mypage/btn_evaluate.png') no-repeat 50% 50% #376abe; background-size: 45px auto;}

.shop_class .inner ul li:hover{background: #98bd3c;border:1px solid #98bd3c;}
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/*		COMMON - MYPAGE - END		*/
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */




/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/*		物流详情  DDDD- START		*/
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


.ui-transTitleBackColor {width: 10px; height: 30px; background-color: #98bd3c; float: left; margin-left: 30px;}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/*		物流详情 DDDD- END		*/
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/*		noCount - START		*/
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.ui-noCount {width: 100%; height: 100%;}
.ui-noCount .ui-noCountImg {width: 100%; margin-top: 100px; display: inline-block; text-align: center;}
.ui-noCount .ui-noCountImg img {width: 220px; height: 35px; display: inline-block;}
.ui-noCount .ui-noCountText {width: 100%; font-size: 14px; text-align: center; margin-top: 30px; color: #9a9a9a;}
.ui-noCount .ui-noCountBtn {width: 120px; height: 40px; background-color: #98bd3c; color: #fff; font-size: 15px; line-height: 40px; text-align: center; margin: 20 auto; border-radius: 5px 5px 5px 5px;}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/*		noCount - END		*/
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/*		Main Page List Item - START		*/
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
.frontHomeReseveSales ul li .ReseveItem {  background: url('/front/skin/pumeiduo/home/ico_label_c3.png') no-repeat right 0 #ffffff;}
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/*		Main Page List Item - END		*/
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */