html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "微软雅黑";
	font-size:0.24rem;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	background:#eeeeee;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*苹果点击时有灰色半透明背景*/
/*button,label{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}*/

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.8rem;
	background: #191a1f;
	display: -webkit-flex;
	display:flex; 
  	flex-flow:row;
  	z-index: 100;
  	display:none;
}
.header .back{
	position: relative;
	width: 1.2rem;
	height: 100%;
	font-size: 0.24rem;
	line-height: 0.8rem;
	padding-left: 0.42rem;
	box-sizing: border-box;
	color: #FFFFFF;
}
.header .back:before{
	position: absolute;
	display: block;
	content: "";
	width: 0.2rem;
	height: 0.04rem;
	top: 50%;
	left: 0.12rem;
	margin-top: 0.04rem;
	background: #FFFFFF;
	-webkit-transform: rotateZ(50deg);
	-moz-transform: rotateZ(50deg);
	-ms-transform: rotateZ(50deg);
	-o-transform: rotateZ(50deg);
	transform: rotateZ(50deg);
}
.header .back:after{
	position: absolute;
	display: block;
	content: "";
	width: 0.2rem;
	height: 0.04rem;
	top: 50%;
	left: 0.12rem;
	margin-top: -0.09rem;
	background: #FFFFFF;
	-webkit-transform: rotateZ(-50deg);
	-moz-transform: rotateZ(-50deg);
	-ms-transform: rotateZ(-50deg);
	-o-transform: rotateZ(-50deg);
	transform: rotateZ(-50deg);
}
.header .title{
	flex: 1;
	color: #FFFFFF;
	font-size: 0.3rem;
	line-height: 0.8rem;
	text-align: center;
}
.header .menu-bar{
	width: 1.2rem;
	height: 100%;
	font-size: 0.24rem;
	line-height: 0.8rem;
	padding-right: 0.23rem;
	box-sizing: border-box;
	color: #FFFFFF;
	text-align: right;
	
}
.menu-bar > span{
	display: inline-block;
	width: 0.1rem;
	height: 0.1rem;
	background: #FFFFFF;
	border-radius: 50%;
}
.wrap{
/* 	padding-top: 0.8rem; */
	background:#eeeeee;
}

html,body{
	width: 100%;
	height: 100%;
	background: #eeeeee;
	font-size: 0.24rem;
	color: #444444;
}
ul,li,img{
	padding:0rem;
	margin:0rem;
}
.wrap{
	position: relative;
	width: 100%;
	padding-bottom: 0.98rem;
	box-sizing: border-box;
}
.wrap.no-footer{
	padding-bottom: 0.6rem;
}
a{
	 text-decoration:none;
	 color:#222;
}
button,label{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*单选按钮*/
input[type="radio"]{
	width: 0.24rem;
    height: 0.24rem;
    vertical-align: top;
    display: none;
}
.radio-box label{
	position: relative;
	padding-left: 0.34rem;
	box-sizing: border-box;
}
.radio-box label:before{
	position: absolute;
	display: block;
	content: "";
	width: 0.24rem;
	height: 0.24rem;                                             
	left: 0;
	top: 50%;
	margin-top: -0.13rem;
	background-image: url(../img/radio.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
}
.radio-box.checked label:before{
	background-image: url(../img/radio-checked.png);
}
/*单选按钮*/
/*input、textarea字体大小设置*/
input,textarea{
	font-size: 0.24rem;
}
/*input、button、textarea点击聚焦时取消蓝色外框*/
input,
button,textarea{
	border:none;
	outline: none;
	background: #FFFFFF;
}
input{
	width: 95%;
	height: 0.5rem;
	color: #444444;
}
/*登录注册页面logo*/
.dqlogo{

	width:1.5rem;
	height:1.91rem;
	margin:0rem auto 0.76rem;
	padding-top:0.62rem;
}
.login{
	width:5.6rem;
	height:0.7rem;
	border-radius:0.35rem;
	background:#01cfb9;
	color:white;
	text-align:center;
	margin-top:0.4rem;
	font-size:0.3rem;
}
.add{
	text-align:center;
	text-decoration:underline;
	font-size:0.26rem;
	margin-top:3.3rem;
}
/*按钮容器*/
.button{
	padding: 0 0.2rem;
	text-align: right;
}
/*按钮容器*/
.buttons{
	text-align: center;
}
/*194*80的按钮*/
.btn-big{
	width: 1.94rem;
	height: 0.8rem;
	padding: 0 0.1rem 0 0.4rem;
	box-sizing: border-box;
	font-size: 0.22rem;
	line-height: 0.78rem;
	text-align: left;
	margin: 0.22rem 0.015rem 0;
	color: #444444;
	border:1px solid #D2D2D2;
	background-color: #FFFFFF;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	outline: none;
}
.btn-write{
	background-image: url(../img/write-btn1.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-write:focus,
.btn-write:active{
	color: #01cfb9;
	border-color: #01cfb9;
	background-image: url(../img/write-btn2.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-search{
	background-image: url(../img/search-btn1.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-search:focus,
.btn-search:active{
	color: #01cfb9;
	border-color: #01cfb9;
	background-image: url(../img/search-btn2.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
/*按钮高度是70的样式没有图片*/
.btn-text:focus,
.btn-text:active{
	color: #01cfb9;
	border-color: #01cfb9;
}
/*查看俱乐部的按钮*/
.btn-apply{
	background-image: url(../img/apply-btn1.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-apply:focus,
.btn-apply:active{
	color: #01cfb9;
	border-color: #01cfb9;
	background-image: url(../img/apply-btn2.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-friend{
	background-image: url(../img/friend-btn1.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-friend:focus,
.btn-friend:active{
	color: #01cfb9;
	border-color: #01cfb9;
	background-image: url(../img/friend-btn2.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-modify{
	background-image: url(../img/modify-btn1.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-modify:focus,
.btn-modify:active{
	color: #01cfb9;
	border-color: #01cfb9;
	background-image: url(../img/modify-btn2.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-delete{
	background-image: url(../img/delete-btn1.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-delete:focus,
.btn-delete:active{
	color: #01cfb9;
	border-color: #01cfb9;
	background-image: url(../img/delete-btn2.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-manage{
	background-image: url(../img/manage-btn1.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-manage:focus,
.btn-manage:active{
	color: #01cfb9;
	border-color: #01cfb9;
	background-image: url(../img/manage-btn2.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-out{
	background-image: url(../img/out-btn1.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
.btn-out:focus,
.btn-out:active{
	color: #01cfb9;
	border-color: #01cfb9;
	background-image: url(../img/out-btn2.png);
	background-repeat: no-repeat;
	background-position: left 0.1rem center;
	background-size: 0.22rem;
}
/*194*80的按钮*/
/*停止活动按钮*/
.btn-stop{
	height: 0.42rem;
	padding-left: 0.18rem;
	padding-right: 0.18rem;
	margin-top: 0.22rem;
	font-size: 0.2rem;
	background: #555555;
	color: #FFFFFF;
	border: none;
	outline: none;
	border-radius: 2px;
}
/*加号按钮*/
.add-btn{
	width: 0.3rem;
	height: 0.3rem;
	background-image: url(../img/addBtn.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0.3rem;
	margin: auto;
}
/*右边有右箭头的按钮*/
.right-btn{
	position: relative;
	padding-right: 0.3rem;
	color: #AAAAAA;
}
.right-btn:after{
	position: absolute;
	display: block;
	content: "";
	width: 0.3rem;
	height: 100%;
	top: 0;
	right: 0;
	margin-top: -0.01rem;
	background-image: url(../img/right-btn.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0.12rem;
}
/*提交按钮*/
.btn-submit{
	width: 6rem;
	height: 0.7rem;
	font-size: 0.3rem;
	border-radius: 3px;
	color: #FFFFFF;
	background: #01cfb9;
}
/*发送按钮*/
.btn-send{
	height: 0.42rem;
	padding: 0 0.18rem;
	margin-top: 0.22rem;
	font-size: 0.2rem;
	border-radius: 4px;
	color: #FFFFFF;
	background: #01cfb9;
}
/*加入按钮*/
.btn-join{
	height: 0.42rem;
	padding: 0 0.18rem;
	margin-top: 0.12rem;
	font-size: 0.2rem;
	border-radius: 4px;
	color: #FFFFFF;
	background: #f1a500;
}
/* 只有蓝色边框的按钮*/

.btn-borders{
	height: 0.42rem;
	padding: 0 0.18rem;
	margin-top: 0.14rem;
	margin-bottom:0.14rem;
	font-size: 0.2rem;
	border-radius: 4px;
	border:1px solid #01cfb9;
	color: #01cfb9;
	background: #fff;
}
/*模块*/
.module{
	width: 100%;
	box-sizing: border-box;
	background: #FFFFFF;
	border-top: 1px solid #d2d2d2;
  	border-bottom: 1px solid #ddd;
}
.modules{
	width: 100%;
	box-sizing: border-box;
	margin-top:0.14rem;
	background: #FFFFFF;
  	border-bottom: 1px solid #ddd;
}
.newtext{
	width:2.8rem;
	text-align:left;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.news:after{
	display: inline-block;
	content: "";
	width: 0.32rem;
	height: 0.16rem;
	background-image: url(../img/new.png);
	background-size:0.32rem;
	margin-left:0.1rem;
	background-repeat: no-repeat;
	background-position: right center;
	z-index:888;
}

/*底部间隙
.space{
	width: 100%;
	height: 0.6rem;
}*/
/*页面中间灰色间隙
.space1{
	width: 100%;
	height: 0.14rem; 
	background: #EEEEEE;
}*/
/*搜索栏固定样式*/
.search-bar{
	width:100%;
	height:0.7rem;
	position:fixed;
	top:0.8rem;
	left:0;
	z-index:99999;
}

/*列表设置*/

.list{
	padding: 0.08rem 0;
}
.list58-1{
	padding:0.15rem 0.2rem;
}
.list58{
	width: 6rem;
	margin:0 auto;
	border:1px solid #d2d2d2;
	height: 0.58rem;
	background:#fff;
	color:#666;
	line-height:0.58rem;
	box-sizing: border-box;
}
.list60{
	width: 100%;
	height: 0.6rem;
	padding: 0 0.2rem;
	background:#01cfb9;
	color:#fff;
	line-height:0.6;
	box-sizing: border-box;
}
.list68{
	width: 100%;
	height: 0.68rem;
	padding: 0 0.2rem;
	box-sizing: border-box;
}
.list78{
	width: 100%;
	height: 0.76rem;
	line-height: 0.76rem;	
	padding: 0 0.2rem;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}
.list80{
	width: 100%;
	height: 0.78rem;
	line-height: 0.78rem;	
	padding: 0 0.2rem;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}
.list90{
	width: 100%;
	min-height: 0.9rem;
	line-height: 0.9rem;
	box-sizing: border-box;
}
.list110{
	width: 100%;
	height: 1.1rem;
	line-height: 0.76rem;	
	padding: 0.17rem 0.2rem;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}
.list-110{
	width:100%;
	height:1.1rem;
	box-sizing:border-box;
	border-bottom:1px solid #ddd;
	line-height: 1.1rem;
	padding:0 0.2rem;
}
.list178{
	width: 100%;
	height: 1.76rem;
	line-height: 0.76rem;	
	padding: 0 0.2rem;
	box-sizing: border-box;
}
.list316{
	width: 100%;
	height: 3.16rem;
	line-height: 0.76rem;	
	padding: 0 0.2rem;
	box-sizing: border-box;
}
/*俱乐部查询中列表区域，无中间隔断的列表外框*/
.list-area{
	margin-top:0.84rem;
}

/*参与活动系列标题*/
.Participant-title{
	padding-top:0.2rem;
}
/*列表设置*/
/*弹性布局设置*/
.flex{
	display: -webkit-flex;
	display:flex; 
  	flex-flow:row;
  	flex-wrap:nowrap;
}
.flex1{
	flex: 1;
	vertical-align:middle;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.flex2{
	flex:auto;
	vertical-align:middle;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.flex3{
	flex:auto;
	vertical-align:middle;
}
/*省略号*/
.beyond{
	position:relative;
	padding-right:0.6rem;
	white-space:nowrap;
	overflow:hidden;
}
.beyond:after{
	position:absolute;
	display:block;
	content:"……";
	height:100%;
	right:0;
	top:0;
	vertical-align:baseline;
	padding-top:0.05rem;
	box-sizing:border-box;
}
/*弹性布局设置*/
/*表格样式的模块布局设置*/
.list-head{
	height:0.7rem;
	width:100%;
	background:#f8f8f8;
	padding-left:0.2rem;
	padding-right:0.2rem;
	line-height:0.7rem;
	color:#222;

}
.ul-list{
	background:#fff;
	border-bottom:1px dashed #ddd;
	line-height:0.68rem;
}
.cell{
	text-align:center;

}
.cell img{
	height:0.18rem;
	width:0.12rem;
	margin-right:0.02rem;
}

/*前面有方形标志的标题*/
.title-icon{
	line-height: 0.68rem;
	position: relative;
	font-size: 0.26rem;
	padding-left: 0.26rem;
	color: #222222;
	font-weight:bold;
}
.title-icon:before{
	position: absolute;
	display: block;
	content: "";
	width: 0.08rem;
	height: 0.08rem;
	top: 50%;
	margin-top: -0.04rem;
	left: 0;
	background: #676767;
}
.title-icon1{
	margin:0 0.2rem;
}
/*前面是图片标志的标题*/
.fixed{
	position:fixed;
	z-index:9999;
	width:100%;
	top:0.8rem;
}
.club-search{
	font-size:0.24rem;
	background-image:url(../img/search-btn3.png);
	background-size:0.24rem auto;
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:0.33rem;
	line-height:0.6rem;
}   
.parting-line{
	width:0.02rem;
	height:0.28rem;
	background-color:#eee;
	margin:0.18rem 0;
}
.club-settled{
	font-size:0.24rem;
	line-height:0.6rem;
	text-align:right;
}
/*切换按钮背景及字体样式*/
.switch-btn{
	text-align:center;
	line-height:0.68rem;
}
.switch-btn span{
	font-size:0.26rem;
}
.switch-btn.active{
	color:#01cfb9;
	border-bottom:2px solid #01cfb9;
}


.switcharea-all,.switcharea-mine{
	margin-top:1.3rem;
}

/*切换区域的样式设置*/
/*.switcharea-all{
	display:none;
}
.switcharea-mine{
	display:none;
}*/
/*数字设置（最大可以放3位数）*/
.number{
	display: inline-block;
	width: 0.5rem;
	text-align: right;
	margin-right:0.06rem;
}
/*会员名称和级别*/
.number-information{
	width:1.2rem;
	height:0.63rem;
	padding:0.24rem 0;
}
.number-name{
	font-size:0.22rem;
	height:0.31rem;
	text-align:right;
	line-height:0.31rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.number-level{
	font-size:0.2rem;
	height:0.31rem;
	text-align:right;
	color:#01cfb9;
	line-height:0.31rem;
}

/*俱乐部logo 80px*/
.club-logo1{
	height:0.81rem;
	padding:0.14rem 0.14rem 0.16rem 0;
}
.club-logo1 img{
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
}
/*俱乐部logo*/
.club-logo{
	position: relative;
	width: 0.52rem;
	height: 100%;
	margin-right: 0.2rem;
}
/*俱乐部logo大*/
.club-big{
	width: 1.29rem;
	height: 1.29rem;
	border-radius: 50%;
	margin-top: 0.23rem;
}
.club-icon{
	position: absolute;
	width: 0.52rem;
	height: 0.52rem;
	top: 50%;
	margin-top: -0.26rem;
	border-radius: 50%;
}
.club-logo-120{
	width:1.2rem;
	height:1.2rem;
	margin:0 auto;
	overflow:hidden;
	border-radius:50%;
}
/*俱乐部头部的问题标题*/
.word-title{
	color:#444;
	font-size:0.26rem;
	font-weight:bold;
}
/*表格内容字体设置*/
.word li{
	font-size:0.22rem;
}
/*会员头像*/
.member-head{
	width: 0.44rem;
	height: 0.44rem;
	border-radius: 50%;
	margin: 0.12rem 0.1rem 0 0;
}
/*会员头像*/
.list78 .member-head{
	width: 0.52rem;
	height: 0.52rem;
	border-radius: 50%;
	margin: 0.12rem 0.1rem 0 0;
}
/*会员头像删除标志*/
.list78 .del{
	position: relative;
}
.list78 .del:after{
	position: absolute;
	display: block;
	content: "";
	width: 0.2rem;
	height: 0.2rem;
	top: 50%;
	right: 0.1rem;
	margin-top: 0.1rem;
	border-radius: 0.1rem;
	background: #f1a500;
}
.list78 .del:before{
	position: absolute;
	display: block;
	content: "";
	width: 0.1rem;
	height: 0.02rem;
	top: 50%;
	right: 0.15rem;
	margin-top: 0.18rem;
	background: #FFFFFF;
	z-index: 2;
}
/*会员头像删除标志*/
/*会员头像（大）*/
.member-head-big-wrap{
	position: relative;
	width: 0.82rem;
	height: 100%;
	margin-right: 0.2rem;
}
.member-head-big{
	position: absolute;
	width: 0.82rem;
	height: 0.82rem;
	top: 50%;
	margin-top: -0.41rem;
	border-radius: 50%;
}
/*会员头像（大）*/
/*高度164px*/
.h164{
	height: 1.64rem;
	padding-left:0.2rem;
}
/*设置flex布局下1.2倍行高*/
.row1{
	line-height:1.4;
}
/*设置flex布局下list78、list110的行高*/
.list78 .row1{
	line-height: 0.76rem;
}
.list110 .row1{
	line-height: 0.76rem;
}
/*padding 左右24px的容器*/
.sub-content{
	margin: 0 0.24rem;
}
/*标题*/
.sub-content-title{
	height: 0.36rem;
	margin: 0.12rem 0 0.2rem;
}
.sub-content-title span{
	display: inline-block;
	line-height: 0.34rem;
	padding: 0 0.16rem;
	color: #666666;
	border-radius: 2px;
	font-size:0.2rem;
	box-sizing: content-box;
	border: 1px solid #666666;
}
/*每个模块的文本内容样式*/
.text-outline{
	color:#222;
}
.text-width{
	width:1.6rem;
	text-align:left;
}
.text-content{
	color:#444;
}
/*超出固定宽度直接隐藏，文本内容用省略号代替*/
.text-flow{
	overflow:hidden;
	text-overflow:ellipsis;
}
/*强制不换行*/
.nowrap{
	white-space: nowrap;
}
.open{
	color:#aaa;
}
/*取消边框*/
.noborder{
	border:none
}
/*边框*/
.top-dashed{
	border-top: 1px dashed #DDDDDD;
}
.top-solid{
	border-top: 1px solid #DDDDDD;
}
.left-dashed{
	border-left: 1px dashed #DDDDDD;
}
.bottom-dashed{
	border-bottom: 1px dashed #DDDDDD;
}
.bottom-solid{
	border-top: 1px solid #DDDDDD;
}
/*flex布局右边给定宽度*/
.right-part{
	width: 2.4rem;
}
/*flex布局左边给定宽度*/
.left-part{
	width: 1.8rem;
}
/*用户名字体设置*/
h3.name{
	font-size: 0.26rem;
	color: #222222;
}
/*20px字体设置*/
.small{
	font-size: 0.20rem;
	color: #444;
	line-height: 1.5;
}
/*22px字体设置*/
.small22{
	font-size: 0.22rem;
	color: #444444;
}
.small22-text{
	line-height:1.5;
}
/*20px绿色字体设置*/
.small-green{
	font-size: 0.20rem;
	color: #01cfb9;
	line-height: 1;
}

/*字体颜色*/
.red{
	color: #f54141;
	font-weight:bold;
	font-size:0.26rem;
}
.red1{
	color:#f54141;
}
.yellow{
	color: #f1a500;
}
.green{
	color:#007165;
	font-weight:bold;
}
/*2倍行高*/
.lh20{
	line-height: 2;
}
/*3倍行高*/
.lh03{
	line-height: 3;

}
/*对齐方式*/
.cen{
	text-align: center;
}
.right{
	text-align: right;
	padding-right: 0.24rem;
}
.left{
	text-align: left;
}
.moretext{
	word-wrap:break-all;
	line-height:1.5;
}

/*placeholder中文本颜色适应于更多的浏览器*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #aaa;
}

/*会员等级*/
.lev-wrap{
	position: relative;
	width: 3.2rem;
	height: 2.52rem;
	padding: 0.2rem 0;
}
.lev-info{
	padding-top: 0.8rem;
}
.lev{
	width: 1.44rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.64rem;
	margin-left: -0.72rem;
}

/*星级*/
.star{
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	vertical-align: top;
	margin-right: 0.01rem;
	background-image: url(../img/star.png);
	background-position: center;
	background-size: 0.18rem;
	background-repeat: no-repeat;
}
.star0{
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	vertical-align: top;
	margin-right: 0.01rem;
	background-image: url(../img/star0.png);
	background-position: center;
	background-size: 0.18rem;
	background-repeat: no-repeat;
}
/*男女标志*/
.man{
	display: inline-block;
	width: 0.24rem;
	height: 0.24rem;
	margin-left: 0.12rem;
	vertical-align: middle;
	background-image: url(../img/man.png);
	background-position: center;
	background-size: 0.18rem;
	background-repeat: no-repeat;
}
.woman{
	display: inline-block;
	width: 0.24rem;
	height: 0.24rem;
	margin-left: 0.12rem;
	vertical-align: middle;
	background-image: url(../img/woman.png);
	background-position: center;
	background-size: 0.18rem;
	background-repeat: no-repeat;
}
/*搜索*/
.search{
	width: 100%;
	height: 0.7rem;
	background: #01cfb9;
	padding: 0.1rem 0.2rem;
	box-sizing: border-box;
}
/*清除ie的默认选择样式，隐藏下拉箭头*/
select::-ms-expand{
	display:none;
}
select{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
.single{
	width:1.26rem;
	height:0.6rem;
	padding-left:0.1rem;
	padding-right:0.1rem;
}
.screen{
	width:1.46rem;
	background:#fff;
	color:#444;
	border:1px solid #01cfb9;
}
.screen p:active{
	color:white;
	background:#01cfb9;
}

/*下拉选择*/
.select{
	width: 1.2rem;
	line-height: 0.5rem;
	padding-right: 0.3rem;
	box-sizing: border-box;
	color: #FFFFFF;
	background-image: url(../img/whiteup.png);
	background-position: center right 0.2rem;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	background-size: 0.14rem;
	background-repeat: no-repeat;
}
.select1{
	width: 1.46rem;
	padding-right: 0.1rem;
	line-height:0.5rem;
	
}
.dropdown{
	width:100%;
	height:0.5rem;
	color:#fff;
  	background-color:rgba(0,0,0,0); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
	background-image: url(../img/whiteup.png);
	background-repeat:no-repeat;
	background-position:right 0.1rem center;
	white-space:nowrap;
	font-size:0.24rem;
	background-size: 0.15rem auto;
	overflow:hidden;
	text-overflow:ellipsis;
	border:none;
	padding-left:0.1rem;
	padding-right:0.4rem;
	outline:none;
	appearance:none;
  	-moz-appearance:none;
 	-webkit-appearance:none;
}
.select-box{
	color:#01cfb9;
	background:#fff;
	border:1px solid #000;
}
/*搜索输入框*/
.search-box{
	position: relative;
}
.search-box:before{
	position: absolute;
	display: block;
	content: "";
	width: 0.44rem;
	height: 100%;
	background-image: url(../img/search-btn1.png);
	background-position: center;
	background-size: 0.24rem;
	background-repeat: no-repeat;
}
.search-inp{
	width: 100%;
	height: 100%;
	padding-left: 0.44rem;
	padding-right: 0.1rem;
	border-radius: 5px;
	border: none;
	box-sizing: border-box;
}
/*搜索输入框*/
/*一段文字后面跟随电话图标和消息图标时的样式设置*/
.dial{
	width:0.24rem;
	height:0.24rem;
	margin-left:0.6rem;
	margin-right:0.4rem;
}

/*上传图片*/
.file{
	width: 100%;
	height: 1.18rem;
	line-height: 1.18rem;
}
.file span{
	display: inline-block;
	line-height: 1.18rem;
	vertical-align: top;color: #AAAAAA;
}
.file-img{
	width: 0.9rem;
	height: 0.9rem;
	margin-top: 0.14rem;
	margin-left: 0.2rem;
}
	/*display: -webkit-flex;
	display:flex; 
  	flex-flow:row;*/
/*弹框*/
.pop-up-wrap,.pop-up-wrap-del,
.pop-up-wrap-one,.pop-up-wrap-see1,
.pop-up-wrap-see2,.pop-up-wrap-btn,
.pop-up-wrap-club,.pop-up-wrap-number{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
/*当一个页面有两个谈窗框时.*/
.pop-up-content{
	position: absolute;
	width: 5.4rem;
	top: 50%;
	left: 50%;

	padding: 0.46rem 0.4rem;
	box-sizing: border-box;
	font-size: 0.24rem;
	color: #333333;
	background: #FFFFFF;
	margin: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);

}
.pop-up-content .inp-wrap{
	width: 100%;
	display: -webkit-flex;
	display:flex; 
  	flex-flow:row;
  	margin-top: 0.14rem;
}
.inp-wrap-del{
	width: 100%;
	text-align:center;
  	margin-top: 0.14rem;
}
.pop-up-content .inp-wrap > p{
	width: 1rem;
	line-height: 0.6rem;
}
.pop-up-content .inp-wrap > input{
	flex: 1;
	height: 0.6rem;
	border:1px solid #aaaaaa;
	box-sizing: border-box;
}
.pop-up-content .inp-wrap > textarea{
	flex: 1;
	height: 1.1rem;
	border:1px solid #aaaaaa;
	box-sizing: border-box;
	resize: none;
}
.pop-up-content .buttons{
	margin-top: 0.4rem;
	text-align: right;
}
.pop-up-content .buttons > span{
	margin-left: 0.6rem;
}

/*文本框样式设置*/
.textboxcontent{
	padding:0.14rem 0.17rem;
}
/*比赛分数注册的页面框样式*/
.float{
	float:left;
}
.float1{
	float:right;
}
.competition,.competition1,.competition2{
	width:6.38rem;
	height:2.18rem;
	border:1px solid #d2d2d2;
	background:#fff;
	margin-top:0.14rem;
}
/*成绩注册中单个模块总的宽度和高度*/
.party{
	width:2.97rem;
	height:100%;
	font-size:0.24rem;
	border-right:1px solid #d2d2d2;
}
/*红色区域部分*/
.competition-red{
	height:0.69rem;
	width:100%;
	background:#fff8f9;
	border-bottom:1px solid #d2d2d2;
}
/*蓝色区域部分*/
.competition-blue{
	height:0.69rem;
	width:100%;
	background:#fffdf4;
	border-bottom:1px solid #d2d2d2;
}
/*姓名和分数的样式*/
.fullname{
	width:1.68rem;
	height:0.68rem;
	text-align:center;
	line-height:0.68rem;
	position:relative;
}
.fullname:after{
	content:"|";
	font-size:0.22rem;
	color:#eee;
	position:absolute;
	right:-0.04rem;
}
.fullname1{
	width:1.68rem;
	height:0.68rem;
	text-align:center;
	line-height:0.68rem;
	position:relative;
}
.fullname1:before{
	content:"|";
	font-size:0.22rem;
	color:#eee;
	position:absolute;
	left:-0.05rem;
}
.fraction{
	width:1.28rem;
	height:0.68rem;
	text-align:center;
	line-height:0.68rem;
}

.name{
	height:1.44rem;
	width:1.66rem;
	padding:0.02rem;
}
.competition input,.competition1 input,.competition2 input{
	border:1px solid #d2d2d2;
	font-size:0.22rem;
	padding-top:0rem;
	padding-bottom:0rem;
	margin:0rem;
	text-align:center;
	padding-left:0.1rem;
	padding-right:0.1rem;
}
/*姓名框设置*/
.name-input{
	height:0.69rem;
	width:1.44rem;
}
/*分数输入框设置*/
.score{
	margin-top:0.02rem;
}
.score-input{
	height:1.42rem;
	width:1.026rem;
}
/*中间的vs区域*/
.vs{
	width:0.4rem;
	height:2.18rem;
	text-align:center;
	line-height:2.18rem;
}
/*相对的并排排列*/
.another-party{
	width:2.97rem;
	height:100%;
	font-size:0.24rem;	
	border-left:1px solid #d2d2d2;
}
.another-party .score{
	margin:0.02rem 0rem 0.02rem 0.02rem;
}
.another-party .name{
	height:1.44rem;
	width:1.56rem;
	padding:0.02rem;
}
.competition1{
	margin-top:0.14rem;
}

/*底部导航*/
.footer{
	position: fixed;
	width: 100%;
	height: 0.98rem;
	left: 0;
	bottom: 0;
	display:flex; 
  	flex-flow:row;
	background: #191a1f;
	z-index: 100;
}
.footer .footer-menu{
	flex: 1;
	text-align: center;
	color: #676767;
	font-size: 0.2rem;
	padding-top: 0.1rem;
	box-sizing: border-box;
}

.footer .footer-menu.active{
	color: #01cfb9;
}
.footer .footer-menu > span{
	display: inline-block;
	width: 0.45rem;
	height: 0.45rem;
}
/*未选中状态图片*/
.footer .footer-menu .participate{
	background: url(../img/participate.png) no-repeat center center;
	background-size: 0.44rem 0.44rem;
}
.footer .footer-menu .club{
	background: url(../img/club.png) no-repeat center center;
	background-size: 0.44rem 0.44rem;
}
.footer .footer-menu .discuss{
	background: url(../img/discuss.png) no-repeat center center;
	background-size: 0.44rem 0.44rem;
}
.footer .footer-menu .system{
	background: url(../img/system.png) no-repeat center center;
	background-size: 0.44rem 0.44rem;
}

.footer .footer-menu .mine{
	background: url(../img/mine.png) no-repeat center center;
	background-size: 0.44rem 0.44rem;
}
/*选中状态图片*/
.footer .footer-menu.active .participate{
	background: url(../img/participate1.png) no-repeat center center;
	background-size: 0.44rem 0.44rem;
}
.footer .footer-menu.active .club{
	background: url(../img/club1.png) no-repeat center center;
	background-size: 0.44rem 0.44rem;
}
.footer .footer-menu.active .discuss{
	background: url(../img/discuss1.png) no-repeat center center;
	background-size: 0.44rem 0.44rem;
}
.footer .footer-menu.active .system{
	background: url(../img/system1.png) no-repeat center center;
	background-size: 0.44rem 0.44rem;
}
.footer .footer-menu.active .mine{
	background: url(../img/mine1.png) no-repeat center center;
	background-size: 0.44rem 0.44rem;
}

.r_pg_top {
    width: 41px;
    height: 41px;
    display: block;
    position: fixed;
    bottom: 15px;
    right: 10px;
    z-index: 2050;
    overflow: hidden;
    color: rgba(1,0,0,0);
    background-image: url(/front/bbc/img/btn_home.png);
	-webkit-background-size: 549px 524px;
	background-size: 41px 41px;
}	

.name1{
	line-height:0.4rem;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	padding-right:0.1rem;
	padding-top:0;
	padding-left:0;
	padding-bottom:0;
}
.name2{
	line-height:0.4rem;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	padding-right:0;
	padding-top:0;
	padding-left:0.1rem;
	padding-bottom:0;
}