@CHARSET "UTF-8";

.ui-label {height: 40px;}
.ui-label ul {list-style: none;}
.ui-label li {width: 65px; height: 40px; line-height: 40px; text-align: center; float: left;}
.ui-label li span {height: 30px; line-height: 30px; text-align: center; font-size: 14px; color: #d3102e; display: inline-block; cursor: pointer; padding-bottom: 0px; border-bottom: 1px solid #d3102e;}

.ui-condition {width: 100%; height: 190px; border: solid 1px #eeeeee;}
.ui-condition .ui-condition-bg {width: 800px; height: 160px; margin-top: 15px; margin-left: 40px;}
.ui-condition .ui-condition-bg .ui-condition1 {height: 40px; position: relative;}
.ui-condition .ui-condition-bg .ui-condition1 .condition-left {width: 285px; height: 30px; float: left; position: relative;}
.ui-condition .ui-condition-bg .ui-condition1 .condition-left .condition-txt {width: 85px; height: 30px; float: left;}
.ui-condition .ui-condition-bg .ui-condition1 .condition-left .condition-txt select {font-size: 13px;}
.ui-condition .ui-condition-bg .ui-condition1 .condition-left .condition-txt span {width: 100%; height: 30px; line-height: 30px; font-size: 14px;}
.ui-condition .ui-condition-bg .ui-condition1 .condition-left .condition-input {width: 200px; height: 30px; float: left;}
.ui-condition .ui-condition-bg .ui-condition1 .condition-right {width: 335px; height: 30px; float: right; position: relative;}
.ui-condition .ui-condition-bg .ui-condition1 .condition-right .condition-txt {width: 109px; height: 30px; float: left;}
.ui-condition .ui-condition-bg .ui-condition1 .condition-right .condition-txt select {width: 100px; height: 30px; font-size: 13px;}
.ui-condition .ui-condition-bg .ui-condition1 .condition-right .condition-txt span {width: 100%; height: 30px; line-height: 30px; font-size: 14px; margin-left: 11px;}
.ui-condition .ui-condition-bg .ui-condition1 .condition-right .condition-input {width: 226px; height: 30px; float: left;}

.ui-confirmbg {height: 68px; position: relative;}
.ui-confirmbg .ui-confirm {width: 100%; height: 51px; line-height: 51px; text-align: center; background-color: #f2f2f2; position: absolute; bottom: 0;}
.ui-confirmbg .ui-confirm img {cursor: pointer;}






/* 
.ui-btn-bar .left li {margin-right: 5px; float: left; cursor: pointer;}
.ui-btn-bar .left li span {display: inline-block; line-height: 35px; text-align: center; font-size: 14px; color: #fff; letter-spacing: 2px; border-radius: 18px; padding-left: 20px; padding-right: 20px; background: #ff6d00;}

.ui-checkOne {width: 110px; height: 35px; position: relative;}
.ui-checkOne .ui-checkOne-check {width: 20%; height: 35px; float: left; text-align: center;}
.ui-checkOne .ui-checkOne-check input {width: 14px; height: 14px; margin-right: auto; margin-left: auto; margin-top: 18px;}
.ui-checkOne .ui-checkOne-text {width: 80%; height: 35px; float: left; text-align: center; position: relative;}
.ui-checkOne .ui-checkOne-text p {position: absolute; bottom: 0px; padding: 0px; margin: 0px;}

.ui-arrow {width: 100%; height: 35px; position: relative;}
.ui-arrow .ui-arrow-arrow {width: 8%; height: 35px; text-align: center; float: left;}
.ui-arrow .ui-arrow-arrow table {margin-right: auto; margin-left: auto; margin-top: 10px;}
.ui-arrow .ui-arrow-arrow table .ui-arrow-arrow-up,.ui-arrow .ui-arrow-arrow table .ui-arrow-arrow-down {width: 9px; height: 5px;}
.ui-arrow .ui-arrow-arrow table .ui-arrow-arrow-middle {height: 3px;}
.ui-arrow .ui-arrow-arrow table img {display: block;}
.ui-arrow .ui-arrow-text {width: 92%; height: 35px; line-height: 35px; float: left;}

.ui-gridarea .grid {width: 100%;} 
.ui-gridarea .grid thead tr {text-align: center;} 
.ui-gridarea .grid thead td {height: 31px; background-color: #c5c5c5;} 
.ui-gridarea .grid thead td:first-of-type {border-top-left-radius: 15px; border-bottom-left-radius: 15px;}
.ui-gridarea .grid thead td:last-of-type {border-top-right-radius: 15px; border-bottom-right-radius: 15px;}
.ui-gridarea .grid tbody tr {text-align: left;}
.ui-gridarea .grid .grid-td {height: 35px; border-bottom: solid 1px #d6d6d6; vertical-align: top;}  
.ui-gridarea .grid .gridOne-td {height: 35px; text-align: center; border-bottom: solid 1px #d6d6d6;}
.ui-gridarea .grid .grid2 {width: 100%;}
.ui-gridarea .grid .grid2 tbody td {height: 100%;}
.ui-gridarea .grid .grid2 .td-align {text-align: center;}
.ui-gridarea .grid tfoot td {padding-right: 4%; height: 35px; text-align: right;} 

.btn-icon {display: inline-block; width: 29px; height: 25px; position: relative; cursor: pointer; background-repeat: no-repeat; background-position: center;}
.btn-icon.icon-edit {background-image: url("/admin/images/goodsClass/main_edit.png");}
.btn-icon.icon-redstop {background-image: url("/admin/images/goodsClass/main_redstop.png");}
.btn-icon.icon-stop {background-image: url("/admin/images/goodsClass/main_stop.png");}
.btn-icon.icon-start {background-image: url("/admin/images/goodsClass/main_start.png");}
.btn-tip {position: absolute; right: 20px; top: -5px; width: 40px; height: 20px; line-height: 20px; text-align: center; border-radius: 20px; background-color: #3574db; color: #fff; display: none;}
.btn-tip.tip3 {width: 52px;}
.btn-tip.tip4 {width: 64px;}
.btn-tip.tip5 {width: 76px;}

.divPopup {width: 580px; height: 310px; margin: 0 auto; overflow: hidden; display: none;}
.divPopup .divPopup-header {width: 100%; height: 40px; background-color: #d1102d; border-radius: 10px 10px 0px 0px;}
.divPopup .divPopup-header .divPopup-header-text {width: 80%; height: 40px; line-height: 40px; float: left; font-size: 16px;}
.divPopup .divPopup-header .divPopup-header-text span {margin-left: 30px; color: #ffffff;}
.divPopup .divPopup-header .divPopup-header-close {width: 20%; height: 40px; line-height: 40px; text-align: right; float: left;}
.divPopup .divPopup-header .divPopup-header-close img {margin-top: 12px; margin-right: 22px; margin-bottom: 12px; cursor: pointer;}
.divPopup .divPopup-container {width: 100%; height: 270px; position: relative;}
.divPopup .divPopup-container .ifrPopup {width:100%; height: 100%; left: 0; bottom: 0;}

.p-popup {width: 100%; height: 100%; position: absolute; left: 0; bottom: 0;}
.p-popup .p-container {width: 100%; height: 270px; background-color: #ffffff;}
.p-popup .p-container .p-placeOne {width: 100%; height: 30px;}
.p-popup .p-container .p-placeOneSelect {width: 100%; height: 40px; position: relative;}
.p-popup .p-container .p-placeOneSelect .p-placeOneSelectleft {width: 145px; height: 40px; line-height: 40px; float: left; text-align: right;}
.p-popup .p-container .p-placeOneSelect .p-placeOneSelectleft span {margin-right: 18px;}
.p-popup .p-container .p-placeOneSelect .p-placeOneSelectmiddle {width: 200px; height: 40px; line-height: 40px; float: left;}
.p-popup .p-container .p-placeOneSelect .p-placeOneSelectmiddle .Select {width: 185px; height: 40px; position: relative; top: -2px;}
.p-popup .p-container .p-placeOneSelect .p-placeOneSelectright {width: 235px; height: 40px; line-height: 40px; float: left;}
.p-popup .p-container .p-placeOneSelect .p-placeOneSelectright .oneText {width: 185px; height: 30px; position: relative; top: -2px;}
.p-popup .p-container .p-placeTwo {width: 100%; height: 20px;}
.p-popup .p-container .p-placeThree {width: 100%; height: 23px;}
.p-popup .p-container .p-placebtn .placebtn {width: 100%; height: 35px;}
.p-popup .p-container .p-placebtn {width: 268px; height: 35px; margin: 0 auto; position: relative;}
.p-popup .p-container .p-placebtn .placebtn-left {width: 102px; height: 35px; float: left; margin-left: 0; background-image: url("/admin/images/goodsClass/save.png"); background-repeat: no-repeat; cursor: pointer;}
.p-popup .p-container .p-placebtn .placebtn-right {width: 102px; height: 35px; float: right; margin-right: 0; background-image: url("/admin/images/goodsClass/abolish.png"); background-repeat: no-repeat; cursor: pointer;}
 */