.appmsg{position:relative;overflow:hidden;margin:0 10px 20px;border:1px solid #e7e7eb;border-radius:3px;background-color:#fff;color:#2a2a2a;box-shadow: 1px 1px 1px #e7e7eb;  }
.appmsg_content{position:relative;padding:0 14px;}
.appmsg_info{padding-bottom:10px;font-size:12px;line-height:20px;}
.multi .appmsg_content{padding:14px 0 0 0;}
.multi .appmsg_info{padding-top:14px;padding-right:14px;padding-left:14px;}
.appmsg_date{font-weight:400;font-style:normal;}
.cover_appmsg_item{position:relative;margin:0 14px 14px;}
.appmsg_title{overflow:hidden;padding-top:10px;max-height:56px;word-wrap:break-word;font-weight:400;font-style:normal;font-size:14px;line-height:28px;word-break:break-all;}
.multi .appmsg_title{padding-top:0;font-size:12px;}
.cover_appmsg_item .appmsg_title{position:absolute;bottom:0;left:0;width:100%;background:rgba(0,0,0,.6)!important;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endcolorstr='#99000000');}
.appmsg_title a{display:block;color:#666;}
.cover_appmsg_item .appmsg_title a{padding:0 8px;color:#fff;}
.appmsg_thumb_wrp{overflow:hidden;height:150px;}
.appmsg_thumb{width:100%;border-top:1px solid #e7e7eb;}
.appmsg_item{position:relative;padding:10px 14px;border-top:1px solid #f3f4f6;}
.appmsg_item .appmsg_thumb{float:right;margin-left:10px;width:60px;height:60px;}
.appmsg_title{overflow:hidden;padding-top:10px;max-height:56px;word-wrap:break-word;font-weight:400;font-style:normal;font-size:14px;line-height:20px;word-break:break-all;}
.cover_appmsg_item .appmsg_title{padding-top:5px;padding-bottom:5px;line-height:20px;}
.appmsg_item .appmsg_title{overflow:hidden;margin-top:0;max-height:60px;line-height:20px;}
.appmsg_item:after{clear:both;display:block;height:0;content:"\200B";}
.appmsg_mask{position:absolute;top:0;left:0;z-index:1;display:none;width:100%;height:100%;background-color:#000;opacity:.6;filter:alpha(opacity=60);-moz-opacity:.6;-khtml-opacity:.6;}
.appmsg:hover .appmsg_mask{display:block;}
.appmsg.selected .appmsg_mask{display:block;}
.appmsg_desc{margin-top:10px;margin-bottom:10px;}
.appmsg_edit{position:absolute;bottom:0;left:0;z-index:100;display:none;box-sizing:border-box;width:50%;height:40px;border-top:1px solid #f1d6df;border-right:1px solid #f1d6df;background-color:rgba(209,16,45,.8);color:#fff;text-align:center;font-weight:700;line-height:40px;opacity:1;}
.appmsg_del{position:absolute;right:0;bottom:0;z-index:100;display:none;box-sizing:border-box;width:50%;height:40px;border-top:1px solid #f1d6df;background-color:rgba(209,16,45,.8);color:#fff;text-align:center;font-weight:700;line-height:40px;opacity:1;}
.appmsg_del span:hover,.appmsg_edit span:hover{cursor:pointer;}
.appmsg:hover .appmsg_del,.appmsg:hover .appmsg_edit{display:block;}
.icon_card_selected{display:inline-block;width:46px;height:46px;background:url(/admin/images/weixin/base_z231ecc.png) 0 -6085px no-repeat;vertical-align:middle;}
.appmsg .icon_card_selected{position:absolute;top:50%;left:50%;z-index:1;display:none;overflow:hidden;margin-top:-23px;margin-left:-23px;line-height:999em;}
.appmsg.selected .icon_card_selected,.appmsg:hover .icon_card_selected{display:inline-block;}
