/** popup2 **/
.popup-container{position:relative;}
.popup-toolbar{position:relative;float:left;display:inline-block;}
.popup-tool{display:inline-block;margin-left:15px;height:50px;vertical-align:middle;font-size:12px;}
.popup-tool img{margin-left:5px;vertical-align:text-bottom;cursor:pointer;}
.popup-tool .tool-name{display:inline-block;margin-top:12px;margin-left:5px;line-height:26px;cursor:pointer;}
.popup-tool .tool-word{display:inline-block;margin-top:12px;margin-left:5px;line-height:26px;color:red;}
.popup-search-warp{position:relative;float:right;margin-right:30px;}
.popup-search-warp .popup-search-input{margin-top:9px;padding-right:30px!important;}
.popup-search-warp img{position:absolute;top:17px;right:10px;cursor:pointer;}
.popup-content-warp{overflow-y:auto;border-top:1px solid #eee;border-bottom:1px solid #eee;}
.popup-content-item-warp{position:relative;overflow-y:auto;margin-left:5px;margin-right:5px;height:300px;}
.picture-item{float:left;margin-top:15px;margin-left:20px;width:140px;height:130px;}
.picture-item .picture-img-warp{position:relative;width:140px;height:108px;border:1px solid #eee;cursor:pointer;}
.picture-item .picture-img-warp .picture-img{width:100%;height:100%;}
.picture-name{display:-webkit-box;overflow:hidden;margin-top:3px;color:#a2a2a2;vertical-align:bottom;text-align:center;text-overflow:-o-ellipsis-lastline;text-overflow:ellipsis;font-size:12px;-webkit-box-orient:vertical;word-break:break-word;-webkit-line-clamp:1;}
.picture-img-warp.selected .selected_mask{position:absolute;top:0;left:0;width:100%;height:100%;}
.picture-img-warp.selected .selected_mask_inner{width:100%;height:100%;background-color:#000;opacity:.4;-moz-opacity:.4;-khtml-opacity:.4;filter:alpha(opacity=40);}
.picture-img-warp.selected .selected_mask_icon{position:absolute;top:0;left:0;display:inline-block;width:100%;height:100%;background:transparent url(/admin/images/sendMsgAll/icon_choice.png) no-repeat 0 0;background-position:50% 50%;vertical-align:middle;}

.video-name{display:-webkit-box;overflow:hidden;margin-top:3px;color:#a2a2a2;vertical-align:bottom;text-align:center;text-overflow:-o-ellipsis-lastline;text-overflow:ellipsis;font-size:12px;-webkit-box-orient:vertical;word-break:break-word;-webkit-line-clamp:1;}
.video-item-warp{float:left;margin-top:15px;margin-left:20px;width:245px;height:173px;}
.video-item-warp .video-item{position:relative;width:245px;height:145px;border:1px solid #eee;cursor:pointer;}
.video-item-warp .video-item.selected .selected_mask{position:absolute;top:0;left:0;width:100%;height:100%;}
.video-item-warp .video-item.selected .selected_mask_inner{width:100%;height:100%;background-color:#000;opacity:.4;-moz-opacity:.4;-khtml-opacity:.4;filter:alpha(opacity=40);}
.video-item-warp .video-item.selected .selected_mask_icon{position:absolute;top:0;left:0;display:inline-block;width:100%;height:100%;background:transparent url(/admin/images/sendMsgAll/icon_choice.png) no-repeat 0 0;background-position:50% 50%;vertical-align:middle;}
