@charset "utf-8";
@import url("base_cn.css");

#wrap {width:100%; background:url("//image.ssgdfs.com/images/shop/order/bg_wrap.gif") no-repeat right 0; }
#head {position:relative; padding:16px 0 0 20px; height:34px; background:#2a2a2a; }
.contents {padding:20px 0 0 20px;}
.contents .prbox {position:relative; padding-right:35px;}   /* 팝업창 크기 height:contents (650이하)  width:contents + 55 */
.contents .prbox_scroll {position:relative; height:580px; overflow:auto;}  /* 팝업창 크기 height:650px 고정  width:contents + 55 */
/* jscroll pane */ 
.jspContainer { overflow: hidden; position: relative; }
.jspPane { position: absolute; }
.jspVerticalBar { position: absolute; top: 0; right: 0; width: 17px; height: 100%; background:#ececec; border: 1px solid #dfdfdf; }
.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }
.jspCap { display: none; }
.jspTrack { background: #ececec; position: relative; }
.jspDrag { background: #fff url("//image.ssgdfs.com/images/shop/order/bg_scroll_thumb.gif") no-repeat center center; position: relative; top: 0; left: 0; cursor: pointer; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; }
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }
.jspArrow { background: #aaa; text-indent: -20000px; display: block; cursor: pointer; }
.jspArrow.jspDisabled { cursor: default; background: #aaa; }
.jspVerticalBar .jspArrow { height: 13px; }
.jspArrowUp { background:url("//image.ssgdfs.com/images/shop/order/btn_scroll_up.gif") no-repeat center center !important; }
.jspArrowDown { background:url("//image.ssgdfs.com/images/shop/order/btn_scroll_down.gif") no-repeat center center !important; }
.jspVerticalBar .jspArrow:focus { outline: none; }
.jspCorner { background: #eeeef4; float: left; height: 100%; }

/* global class */
.btn_wrap {height:30px; position:relative; margin-bottom:15px; clear:both;}
.btn_wrap .left {position:absolute; top:0px; left:0px;}
.btn_wrap .left a {margin-right:4px;}
.btn_wrap .right {position:absolute; top:0px; right:0px;}
.btn_wrap .right a {margin-left:4px;}
.btn_wrap .center { text-align:center;}


/* gradeinfo */
.member-conbox .gradeinfo {width:690px; position:relative; border-top:1px solid #aaa; margin-bottom:10px;}
.member-conbox .gradeinfo table {width:690px; border-bottom:1px solid #eaeaea;}
.member-conbox .gradeinfo thead th {background:#fdfdfd; height:35px; border-left:1px solid #dfdfdf;  border-bottom:1px solid #dfdfdf; text-align: center; font-weight:normal;}  
.member-conbox .gradeinfo thead th:first-child {border-left:0 none;}
.member-conbox .gradeinfo tbody th {padding-top:15px; height:82px; background:url("//image.ssgdfs.com/images/shop/mypage/popup/membership_thbg.gif") no-repeat 0 0; text-align:center; vertical-align:top;}  
.member-conbox .gradeinfo tbody th span {display:block; padding-top:12px;}
.member-conbox .gradeinfo tbody tr:first-child th {height:81px; background-color:#f6f6f6; background-position:0 -1px;}
.member-conbox .gradeinfo td {padding:15px 0; text-align:center; vertical-align:middle; background:url("//image.ssgdfs.com/images/shop/customer/membership_line.gif") no-repeat 0 0; border-left:1px solid #dfdfdf; color:#444; line-height:19px;} 
.member-conbox .gradeinfo tbody tr:first-child td {background:none;}
.member-conbox .gradeinfo tbody tr.ch th {background-image:url("//image.ssgdfs.com/images/shop/mypage/popup/membership_thbg_on.gif");}
.member-conbox .gradeinfo tbody tr.ch td {background:url("//image.ssgdfs.com/images/shop/customer/membership_line.gif") #f6f6f6  no-repeat 0 0;}
.member-conbox .gradeinfo td span {display:block; padding-top:4px; font-size:11px; color:#888;} 
.member-conbox .wbox {width:688px; height:136px; position:relative; margin-bottom:20px; border:1px solid #cfcfcf; background-color:#f8f8f8;} 
.member-conbox .wbox .stitle {height:20px; padding:1px 0 0 20px; position:absolute; top:15px; left:15px; background:url("//image.ssgdfs.com/images/shop/mypage/popup/ico_i.gif") no-repeat 0 0;} 
.member-conbox .wbox .tit-box {padding:40px 0 0 38px; line-height:20px; color:#777;} 
.member-conbox .wbox .txt-tit {display:block; padding:0 0 0 12px; background:url("//image.ssgdfs.com/images/shop/mypage/dot_check.gif") no-repeat 0 7px; color:#888; font-size:11px; line-height:22px;}

/* 적립금 전환하기 */
.changebox {width:435px; height:auto; }
.layer-money .txt-tipping span.use-m {margin:0 6px; color:#d62b21; font-weight:bold; font-size:12px;}
.layer-money .txtrig {text-align:right; color:#555; padding-top:5px;}
.layer-money .price-ch {height:30px; padding:7px 0 0 22px; margin:5px 0 7px 0; font-weight:bold; color:#333; border-top:2px solid #000; border-bottom:1px solid #dfdfdf;}
.layer-money .price-ch span.use-m {margin:0 6px; color:#d62b21; font-weight:bold; font-size:12px;}
.layer-money .price-ch span.save-m {margin-left:5px; color:#3e5cb2; }
.layer-money .price-ch strong {padding-left:80px;}
.layer-money .price-ch span {font-size:12px;}
.layer-money .price-ch span.mr {margin:0 15px 0 4px;}
.layer-money .price-ch input {width:121px; margin:0 6px 0 4px; font-weight:2px; color:#d62b21; font-family:tahoma, "타호마"; font-weight:bold; text-align:right; font-size:12px;}
.layer-money .now-txt {color:#999; font-size:12px; line-height:16px;}
.layer-money .btn_wrap {margin-top:20px;}
 
/* mycolor */
.mycolor-box {width:100%; height:180px;}
.mycolor-box .mycolor-list-box {width:780px; height:180px; position:relative;}
.mycolor-box .mycolor-save {width:108px; height:132px; padding:16px 0 0 0; position:absolute; left:335px; top:0; background:#f3f3f3; border:1px solid #dfdfdf; text-align:center;}
.mycolor-box .mycolor-list {width:780px; height:167px;}
.mycolor-box .mycolor-list ul {width:330px; height:67px; padding:43px 0 0 0; float:left; margin-left:5px;}
.mycolor-box .mycolor-list ul.mycolor-list02 {margin-left:115px;}
.mycolor-box .mycolor-list ul li {width:30px; height:65px; float:left;}
.mycolor-save p {font-family:"tahoma" , "타호마"; font-size:11px;}
.mycolor-save .mycolor-tit-no {color:#9f9f9f;}
.mycolor-save .mycolor-tit-white {color:#b6b6b6;}
.mycolor-save .mycolor-tit-beige {color:#b6b6b6;}
.mycolor-save .mycolor-tit-ivory {color:#b6b6b6;}
.mycolor-save .mycolor-tit-gold {color:#d5b355;}
.mycolor-save .mycolor-tit-sky {color:#a2c9df;}
.mycolor-save .mycolor-tit-blue {color:#3379d9;}
.mycolor-save .mycolor-tit-navy {color:#245899;}
.mycolor-save .mycolor-tit-purple {color:#7944a0;}
.mycolor-save .mycolor-tit-violet {color:#a73c8b;}
.mycolor-save .mycolor-tit-pink {color:#e55399;}
.mycolor-save .mycolor-tit-red {color:#b94230;}
.mycolor-save .mycolor-tit-brown {color:#8c5d10;}
.mycolor-save .mycolor-tit-khaki {color:#718a29;}
.mycolor-save .mycolor-tit-green {color:#269c12;}
.mycolor-save .mycolor-tit-olive {color:#c9d71e;}
.mycolor-save .mycolor-tit-yellow {color:#e5dc4f;}
.mycolor-save .mycolor-tit-silver {color:#b6b6b6;}
.mycolor-save .mycolor-tit-gray {color:#9f9f9f;}
.mycolor-save .mycolor-tit-charcoal {color:#4e4e4e;}
.mycolor-save .mycolor-tit-black {color:#000;}
.mycolor-save .mycolor-tit-multi {color:#53e5cb;}
.mycolor-save .mycolor-tit-pattern {color:#aaa;}
.mycolor-save ul {width:65px; height:65px; margin:13px auto 10px auto; overflow:hidden;}
.mycolor-save ul li {width:65px; height:65px; text-indent:-9999em;}
.mycolor-save ul li span {display:block;}
.mycolor-save ul li.my-no {background:#9f9f9f;}
.mycolor-save ul li.my-white {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_02.gif") repeat-x 0 0;}
.mycolor-save ul li.my-beige {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_13.gif") repeat-x 0 0;}
.mycolor-save ul li.my-ivory {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_20.gif") repeat-x 0 0;}
.mycolor-save ul li.my-gold {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_08.gif") repeat-x 0 0;}
.mycolor-save ul li.my-sky {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_11.gif") repeat-x 0 0;}
.mycolor-save ul li.my-blue {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_04.gif") repeat-x 0 0;}
.mycolor-save ul li.my-navy {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_10.gif") repeat-x 0 0;}
.mycolor-save ul li.my-purple {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_07.gif") repeat-x 0 0;}
.mycolor-save ul li.my-violet {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_19.gif") repeat-x 0 0;}
.mycolor-save ul li.my-pink {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_06.gif") repeat-x 0 0;}
.mycolor-save ul li.my-red {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_05.gif") repeat-x 0 0;}
.mycolor-save ul li.my-brown {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_14.gif") repeat-x 0 0;}
.mycolor-save ul li.my-khaki {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_15.gif") repeat-x 0 0;}
.mycolor-save ul li.my-green {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_12.gif") repeat-x 0 0;}
.mycolor-save ul li.my-olive {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_17.gif") repeat-x 0 0;}
.mycolor-save ul li.my-yellow {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_16.gif") repeat-x 0 0;}
.mycolor-save ul li.my-silver {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_09.gif") repeat-x 0 0;}
.mycolor-save ul li.my-gray {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_03.gif") repeat-x 0 0;}
.mycolor-save ul li.my-charcoal {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_18.gif") repeat-x 0 0;}
.mycolor-save ul li.my-black {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_01.gif") repeat-x 0 0;}
.mycolor-save ul li.my-multi {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_21.gif") repeat-x 0 0;}
.mycolor-save ul li.my-pattern {background:url("//image.ssgdfs.com/images/shop/colorzone/mycolor01_22.gif") repeat 0 0;}

/* gradesetup */
.member-group {width:462px; height:207px; margin:20px; border-top:2px solid #000; border-bottom:1px solid #dfdfdf;}
.member-group .group-scroll {height:auto;}
.member-group table {width:auto;}
.member-group table th {height:68px; border-bottom:1px solid #dfdfdf; text-align:center;}
.member-group table th span {margin:0 10px;}
.member-group table th img {width:125px; height:50px;}
.member-group table td {height:68px; border-bottom:1px solid #dfdfdf;}
.member-group table tr.choice td, .member-group table tr.choice th {background:#f6f6f6;}
.member-group table td .group-box {width:308px; height:53px; padding:15px 0 0 10px; position:relative;}
.member-group table td .group-box p {font-weight:bold; color:#333;}
.member-group table td .group-box span {display:block; margin-top:5px; color:#999; font-size:11px;}
.member-group table td .group-box a {position:absolute; right:20px; top:25px;}
.member-group .btn-set {text-align:center;}
 
/* airinfo */
.airlist {width:950px; height:265px; position:relative; margin-bottom:20px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;}
.airlist img, .airlist li {vertical-align: middle; text-align:left;}
.airlist .airlist-con {margin-top:-1px;}
.airlist .airlist-con li {height:38px;}
.airlist .airlist-con li a {width:179px; height:25px; display:block; padding:12px 0 0 20px; border-top:1px solid #dfdfdf; border-right:1px solid #dfdfdf; background:#f4f4f3;}
.airlist .airlist-con li.on a {border-right:1px solid #fff; background:url("//image.ssgdfs.com/images/shop/customer/bu_arr.gif") #fff no-repeat 184px 14px; font-weight:bold; color:#000; letter-spacing:-1px;}
.airlist .airlist-con li .conbox {display:none}
.airlist .airlist-con li.on .conbox {display:block}
.airlist .airlist-con li .conbox {width: auto; height:250px; position:absolute; top:15px; left:220px;}
.airlist .airlist-con li .conbox .map {width:355px; margin:0 20px 0 0;  float:left; }
.airlist .airlist-con li .conbox .map-info {width:348px; margin-top:5px; float:left; } 
.airlist .airlist-con li .conbox .map-info .title {height:25px; font-weight:bold; color:#333; line-height:20px;}
.airlist .airlist-con li .conbox .map-info p {line-height:20px; color:#666;}
.airlist .airlist-con li .conbox .map-info p.txt {width:100%;  line-height:18px;}
.airlist .airlist-con li .conbox .map-info p.txt02 {padding-left:78px;}
.airlist .airlist-con li .conbox .map-info p span {display:inline-block; width:62px; padding-left:8px; font-weight:bold; background:url("//image.ssgdfs.com/images/shop/order/dot_gray.gif") no-repeat 0 6px;}

 
/* orderlist */
.prbox_scroll .orderlist-conbox {width:705px; padding-bottom:30px;}
.prbox_scroll .orderlist-conbox .total-pricebox {margin:-10px 0 0 0;}
.prbox_scroll .orderlist-conbox .total-pricebox .total-price table {border-top:0px solid #555;}
.prbox_scroll .orderlist-conbox .total-pricebox .total-price table tbody td dl dd li.coupon-box .dis-pri { display:block; width:113px; float:right; color:#333; text-align:right;}

.prbox_scroll .stitle {height:24px; position:relative; padding-left:23px; background:url("//image.ssgdfs.com/images/shop/common/bg_h3.gif") no-repeat 0 0;}
.prbox_scroll .stitle img {float:left; padding-top:1px;}
 
.prbox_scroll .total-price li.discount .savecon-box span.pay-price { display:block; width:auto; padding:9px 20px 9px 0; text-align:right; color:#444; font-size:11px;}
.prbox_scroll .total-price li.discount .discount-box span.pay-price { display:block; width:auto; padding:9px 20px 9px 0; text-align:right; color:#444; font-size:11px;}

.prbox_scroll .conbox-info {width:705px; height:430px; position:relative;}
.prbox_scroll .conbox-info .col-left {width:330px; float:left;}
.prbox_scroll .conbox-info .col-right {width:355px; float:right;}
.prbox_scroll .tipping-box {width:328px; height:383px; border:1px solid #cfcfcf; background-color:#f8f8f8; margin-bottom:10px;}
.prbox_scroll .tipping-box ul.info {height:120px; padding-top:20px; background:#fff; border-bottom:1px solid #dfdfdf;}
.prbox_scroll .tipping-box ul.info li {background:none;}
.prbox_scroll .tipping-box ul {padding-top:13px;}
.prbox_scroll .tipping-box li {padding:0 0 6px 31px; background:url("//image.ssgdfs.com/images/shop/mypage/dot_check.gif") no-repeat 20px 4px; color:#666; font-size:12px; line-height:16px;}
.prbox_scroll .tipping-box li.mbtt01 {padding-bottom:28px;}
.prbox_scroll .tipping-box li span {font-weight:bold; color:#d62b21;}




.prbox_scroll .airlist {width:355px; height:382px; border-top:2px solid #555; border-bottom:1px solid #dfdfdf;}
.prbox_scroll .airlist .conbox {width: auto; height:356px;}
.prbox_scroll .airlist .conbox .map {width:355px; margin:20px 0 0 0;}
.prbox_scroll .airlist .conbox .map-info {width:355px; height:96px; margin:10px 0 0 11px; } 
.prbox_scroll .airlist .conbox .map-info .title {height:22px; font-weight:bold; color:#333; line-height:20px;}
.prbox_scroll .airlist .conbox .map-info p {line-height:20px;}
.prbox_scroll .airlist .conbox .map-info p.txt {width:100%;  line-height:18px;}
.prbox_scroll .airlist .conbox .map-info p.txt02 {padding-left:78px;}
.prbox_scroll .airlist .conbox .map-info p span {display:inline-block; width:62px; padding-left:8px; font-weight:bold; background:url("//image.ssgdfs.com/images/shop/order/dot_gray.gif") no-repeat 0 6px;}
  
.prbox_scroll .table-listhtype .ordernumber {font-weight:bold;}
.prbox_scroll .table-listhtype .price span {display:block; text-align:center; line-height:15px;}
.prbox_scroll .table-listhtype .price .us-currency {color:#be1e2d; font-size:12px !important; font-weight:bold;}
.prbox_scroll .table-listhtype .price .nation-currency {color:#666; font-size:12px;} 

.prbox_scroll .table-listhtype .info-order table {border-bottom:0px solid #eaeaea;}
.prbox_scroll .table-listhtype .info-order th span {display:block; font-size:11px; color:#666; padding-top:2px;}
.prbox_scroll .table-listhtype .info-order td {height:45px; border-left:1px solid #eaeaea;}
.prbox_scroll .table-listhtype .info-order td:first-child {border-left:0px solid #eaeaea;} 
.prbox_scroll .table-listhtype .info-order td.product-sum .price .us-currency  {color:#be1e2d; font-size:12px; font-weight:normal;}
.prbox_scroll .table-listhtype .info-order td.useinfo .price .us-currency  {color:#666; font-size:12px; font-weight:normal;}
.prbox_scroll .table-listhtype .info-order td.useinfo span {font-weight:normal;}
.prbox_scroll .table-listhtype .info-order tfoot th, .prbox_scroll .table-listhtype .info-order tfoot td {height:30px; border:0 none; background:#f8f8f8;}
.prbox_scroll .table-listhtype .info-order tfoot th span {font-size:12px; font-weight:bold; color:#333; text-align:left; margin-left:20px;}
.prbox_scroll .table-listhtype .info-order tfoot td {text-align:right;}
.prbox_scroll .table-listhtype .info-order tfoot td span {font-size:12px; font-weight:bold; color:#d62b21; margin-right:20px;}
.prbox_scroll .table-listhtype .info-order tfoot td span span {font-weight:normal; margin:0;}

.prbox_scroll .table-listhtype .info-product td {height:84px; border-left:1px solid #eaeaea;}
.prbox_scroll .table-listhtype .info-product td:first-child {border-left:0px solid #eaeaea;} 
.prbox_scroll .table-listhtype .info-product td.info {border-left:1px solid #eaeaea; text-align:left; vertical-align:top;} 
.prbox_scroll .table-listhtype .info-product td.info-noline {border-left:0px solid #eaeaea; text-align:left; vertical-align:top;} 

.prbox_scroll .table-listhtype .info-product td.info div.product-info {margin:10px 0 8px 20px; line-height:16px;}

.prbox_scroll .table-listhtype .info-product td.info p.brand {height:16px; float:left; color:#333; font-weight:bold; margin-right:7px;} 
.prbox_scroll .table-listhtype .info-product td.info p.product-num {height:16px; float:left; padding-top:0; font-size:11px;}
.prbox_scroll .table-listhtype .info-product td.info p.product-num span{display:inline; color:#999;}
.prbox_scroll .table-listhtype .info-product td.info p.product {width:auto; padding-right:20px; height:30px; clear:both; overflow:hidden;} 
.prbox_scroll .table-listhtype .info-product td.info p.product {color:#333;}
.prbox_scroll .table-listhtype .info-product td.info p.option {height:18px; padding-top:7px; color:#3e5cb2;}
.prbox_scroll .table-listhtype .info-product td.info p.option span {padding-right:4px;}
.prbox_scroll .table-listhtype .info-product td.info p.option span.tel { }
 
/* 주문정보변경안내 및 주문취소안내 */
.orderchange-box {width:435px;}
.orderchange-box .txt-tipping {line-height:18px; font-size:12px; color:#333; padding-top:0;}
.orderchange-box .notice-section {width:415px; margin:9px 0 10px 0; padding:8px 0 4px 20px;}
.orderchange-box .notice-section ul li {font-size:12px; line-height:22px; background-position:0 7px; padding:0 0 0 12px;}
.orderchange-box .notice-section span {font-weight:bold; color:#666;}
.orderchange-box .customer-set {margin:15px 0 13px 0; height:70px;}
.orderchange-box .customer-set a {margin:0;}
.orderchange-box .btn-set {padding:16px 0 25px 0;}

/*주문취소안내_수정 20150424*/
.ordercancel_Box {width:635px; margin-top:10px;}
.ordercancel_Box .txt-tipping {letter-spacing:-1px; line-height:20px; font-size:12px; padding-left:13px; color:#333; padding-top:0; background:url(//image.ssgdfs.com/images/shop/order/dot_black_bold.gif) 0 7px no-repeat;}
.ordercancel_Box_inner {margin:25px 0; padding:21px 36px 24px 36px; border:1px solid #eeeced; background-color:#fafafa;}
.ordercancel_Box_tit {text-align:center; margin-bottom:15px;}
.ordercancel_Box_inner a {margin-top:5px; display:block; text-align:center;}

/* .ordercancel_Box .orderchange-box-txt02 {width:230px; float:left; margin-top:13px;} */
/* .ordercancel_Box .customer-set {color:#333; line-height:20px; margin:0; text-align:center; margin-bottom:47px; margin-top:13px;} */
/* .ordercancel_Box .customer-set a.customercenter img {float:right; margin-right:8px; margin-bottom: 30px;} */
 
 
/* 주문상태안내 */
.orderstate-box-head {position:relative; padding:16px 0 0 20px; height:34px; background:#2a2a2a; }
.orderstate-box-head h1 {margin-top:12px; height:38px; border-bottom:1px solid #333;}
.orderstate-box {width:800px; border-top:2px solid #000; position:relative;}
.orderstate-box .stateinfo01 {width:79px; height:85px; float:left; padding:71px 0 0 16px; border-bottom:1px solid #dfdfdf; background:url("//image.ssgdfs.com/images/shop/mypage/popup/bg_stat_title.gif") no-repeat 0 0; z-index:10;}
.orderstate-box div.on {background:url("//image.ssgdfs.com/images/shop/mypage/popup/bg_stat_title_on.gif") no-repeat 0 0; z-index:10;}
.orderstate-box .stateinfo01 div.layor-box {background-position:20px 18px;}
.orderstate-box div.stateinfo-box { width:800px; /*width:557px; height:156px;*/ float:left; position:relative; /*padding-left:7px;*/ margin-bottom:20px;  border-bottom:1px solid #dfdfdf; z-index:5;}
.orderstate-box div.stateinfo-box .standby {background:none;}
.orderstate-box div.stateinfo-box .standby li {padding-left:0; background:none;}
.orderstate-box div.stateinfo-box .standby li span {position:absolute; left:53px; top:45px;}
.orderstate-box div.stateinfo-box ul.box-line {border-bottom:1px solid #000; height:105px !important;}
.orderstate-box div.stateinfo-box ul {height:32px; padding:20px 0 0 0; background:url("//image.ssgdfs.com/images/shop/order/bg_dotted.gif") repeat-x 0 0;}
.orderstate-box div.stateinfo-box ul li {float:left; text-align:center; padding-left:40px; background-size:17px 32px; background:url("//image.ssgdfs.com/images/shop/mypage/popup/bg_next_new.gif") no-repeat 13px 0; }
.orderstate-box div.stateinfo-box ul li.stateinfo02 {text-align:center; float:none;}
.orderstate-box div.stateinfo-box ul li.stateinfo02  div.layor-box {background-position:82px 18px;}
.orderstate-box div.stateinfo-box ul.stateinfo_con02 {height:90px !important}
.orderstate-box div.stateinfo-box ul.stateinfo_con02 li {/*padding-left:175px; background-position:84px 0;*/ padding-left:0; background-position:0 0; width:33.33%;}
.orderstate-box div.stateinfo-box ul li.stateinfo03 {padding-left:0; background:none;}
.orderstate-box div.stateinfo-box ul li > p {margin-top:15px;}
.orderstate-box div.stateinfo-box ul li.stateinfo08 {padding-left:0; background:none;}
.orderstate-box .stateinfo01 .layor-l {left:8px; top:27px; z-index:10;}
.orderstate-box div.stateinfo-box ul li.stateinfo02 .layor-l {left:-54px; top:-20px;}
.orderstate-box div.stateinfo-box ul li.stateinfo03 .layor-l {left:0px; top:32px;}
.orderstate-box div.stateinfo-box ul li.stateinfo04 .layor-l {left:100px; top:32px;}
.orderstate-box div.stateinfo-box ul li.stateinfo05 .layor-l {left:200px; top:32px;}
.orderstate-box div.stateinfo-box ul li.stateinfo06 .layor-l {left:330px; top:32px;}
.orderstate-box div.stateinfo-box ul li.stateinfo07 .layor-l {left:405px; top:32px;}
.orderstate-box div.stateinfo-box ul li.stateinfo08 .layor-l {left:0px; top:82px;}
.orderstate-box div.stateinfo-box ul li.stateinfo09 .layor-l {left:124px; top:82px;}
.orderstate-box div.stateinfo-box ul li.stateinfo10 .layor-l {left:200px; top:82px;}
.orderstate-box div.layor-l {width:auto; height:29px; position:absolute; padding-bottom:8px; background:url("//image.ssgdfs.com/images/shop/mypage/popup/bg_layer_l.png") no-repeat 0 0;}
.orderstate-box div.layor-c {width:auto; height:18px; padding:8px 12px 5px 12px; margin-right:3px; background:url("//image.ssgdfs.com/images/shop/mypage/popup/bg_layer_c.gif") repeat-x 0 0; font-size:11px; color:#666; text-align:center;}
.orderstate-box div.layor-r {width:auto; height:29px; padding-left:3px; background:url("//image.ssgdfs.com/images/shop/mypage/popup/bg_layer_r.png") no-repeat right 0;}
.orderstate-box div.layor-box {width:auto; height:29px; background:url("//image.ssgdfs.com/images/shop/mypage/popup/bg_layer_point.png") no-repeat center 18px;}
.orderstate-box div.stateinfo-box ul li.stateinfo07 .layor-l div.layor-box {background-position:80px 18px;} 
 
/* 적립금내역조회 */
.layer-money {text-align:left;}
.layer-money table {width:100%; border-top:1px solid #555; text-align:center;}
.layer-money table thead th {height:26px; background:#fff; font-size:11px; color:#333; border-bottom:0 none;}
.layer-money table tbody td {height:28px; background:#fff; font-size:11px; color:#999;  font-family:"Verdana"; border-top:1px solid #efefef; border-bottom:0 none;}
.layer-money table tbody td.save-name {text-align:left;}
.layer-money table tbody td.save-name span {padding-left:21px; font-weight:bold; color:#333;}
.layer-money table tbody tr.total-use td {background:#fbfbfb; border-top:0 none;}
.savelist-checkbox {width:690px;}
.txt-tipping {display:block; padding:0 0 4px 8px; background:url("//image.ssgdfs.com/images/shop/order/dot_gray.gif") no-repeat 0 6px; color:#555;}
.txt-tipping span {font-weight:bold;}
.txt-tipping .font-red {color:#d62b21;}
.txt-box {position:relative;}
.txt-box a {display:block; position:absolute; right:0; top:17px;}
.layer-money .notice-section {width:auto; overflow:hidden; margin:9px 0 10px 0; padding:8px 0 4px 20px; background:#f8f8f8; border:1px solid #cfcfcf;}
.layer-money .notice-section p {width:120px; float:left; margin-left:85px; padding:7px 0 9px 8px; background:url("//image.ssgdfs.com/images/shop/order/dot_gray.gif") no-repeat 0 13px; font-size:12px;}
.layer-money .notice-section p.first-child {margin-left:20px;}
.layer-money .notice-section p span {color:#d62b21;}
.layer-money .s-title {margin:30px 0 10px 0;}

.savelist-checkbox table.save-present {border-bottom:1px solid #d5d5d5;}
.savelist-checkbox table.save-present th {height:30px; border-top:1px solid #d5d5d5; background:#f8f8f8; font-weight:normal; color:#333; font-size:12px; font-family:"돋움" , "Dotum";}
.savelist-checkbox table.save-present td {height:40px; font-size:12px; color:#333; font-family:"돋움" , "Dotum";}
.savelist-checkbox table.save-present tr.total-use td {background:#f6f6f6; border-top:1px solid #eaeaea;}
.savelist-checkbox table td.fta span {font-family:tahoma, "타호마"; font-size:11px; color:#999;} /* 숫자 */
.savelist-checkbox table td.useinfo span {font-weight:bold;}
.save-present02 {margin-bottom:15px;}
.save-present02 div.dollar-change {height:234px; border-top:1px solid #aaa; border-bottom:1px solid #d4d4d4;}
.save-present02 div.dollar-change table {width:671px; border-top:0px solid #aaa;}
.save-present02 div.dollar-change table th {border-top:0 none;}
.save-present02 table {border-bottom:1px solid #eaeaea;}
.save-present02 table thead th {height:30px; border-top:1px solid #d5d5d5; background:#f8f8f8; font-size:12px; font-weight:normal; color:#333; font-family:"돋움" , "Dotum";}
.save-present02 table tbody td {height:40px; color:#333; font-size:12px; font-family:"돋움" , "Dotum";}
.save-present02 table tbody td.fta span span {margin-left:3px;}
.savelist-checkbox .exchange-box {height:235px; overflow:hidden; border-top:1px solid #d5d5d5;}
.savelist-checkbox .exchange-box table {width:671px; height:auto; margin:-1px 0;}


/* 사은품 정보 */ 
.giftstore-conbox {width:462px;}
.giftstore-conbox .stitle img { float:left;}
.giftstore-conbox .stitle .giftinfo { float:right; margin-top:-4px;}
.giftstore-conbox .chbox {position:relative; height:150px;}
.giftstore-conbox .chbox ul li:first-child {float:left; width:240px;}
.giftstore-conbox .chbox ul li {float:right; width:222px;}
.giftstore-conbox .chbox ul li img {display:block; margin-bottom:7px;}
.giftstore-conbox .chbox ul li input {margin-left:20px;}
.giftstore-conbox .save-present03 {margin-bottom:30px;}
.giftstore-conbox .save-present03 table {border-bottom:1px solid #eaeaea;}
.giftstore-conbox .save-present03 table thead th {height:30px; border-top:1px solid #d5d5d5; background:#f8f8f8; font-size:12px; font-weight:normal; color:#333; font-family:"돋움" , "Dotum";}
.giftstore-conbox .save-present03 table tbody td {height:40px; color:#333; font-size:12px; font-family:"돋움" , "Dotum";}
.giftstore-conbox .save-present03 table tbody tr.selected td {background:#f6f6f6;} 

.giftstore-conbox table td.useinfo span {font-weight:bold;}
.giftinfo-box {margin-bottom:20px; padding-bottom:20px; background:url("//image.ssgdfs.com/images/shop/mypage/popup/line_giftstore.gif") no-repeat 0 bottom;}
.giftstore-conbox .tipping-box {width:auto; height:auto; border-top:2px solid #555; border-bottom:1px solid #cfcfcf; background-color:#f8f8f8; margin-bottom:10px;}
.giftstore-conbox .tipping-box ul {padding:8px 0 6px 0;}
.giftstore-conbox .tipping-box li {padding:0 0 2px 21px; background:url("//image.ssgdfs.com/images/shop/mypage/dot_check.gif") no-repeat 10px 4px; color:#666; font-size:12px; line-height:16px;}
.giftstore-conbox .tipping-box li span {font-weight:bold; color:#d62b21;}
.giftstore-conbox label {margin-left:5px;}
.giftstore-conbox .btn_wrap {margin-bottom:0;}

.giftstore-conbox .cellphone {background:#f8f8f8; border:1px solid #cfcfcf; margin:20px 0; padding:10px 20px;}
.giftstore-conbox .cellphone .title { width:167px; float:left; padding-top:5px;}
.giftstore-conbox .cellphone .txt {font-size:12px; padding-top:10px; clear:both; color:#999;}
.giftstore-conbox .cellphone input {float:left; width:62px;}
.giftstore-conbox .cellphone div {float:left;}
.giftstore-conbox .cellphone span.tel {float:left; margin:4px 6px 0 6px;}  
/* selectbox */
.giftstore-conbox .cellphone .sbHolder {width:57px; height:22px; position:relative; background-color:#fff;	border: solid 1px #bababa; float:left;}
.giftstore-conbox .cellphone .sbHolder:focus .sbSelector{color: #656565;}
.giftstore-conbox .cellphone .sbSelector{display:block; height:22px; left:0; line-height:24px; outline:none; overflow:hidden; position:absolute; text-indent:10px;	top:0; width:57px;}
.giftstore-conbox .cellphone .sbSelector:link, .giftstore-conbox .cellphone .sbSelector:visited, .giftstore-conbox .cellphone .sbSelector:hover{color:#999; outline:none;text-decoration:none;}
.giftstore-conbox .cellphone .sbToggle {width:22px; background:url("//image.ssgdfs.com/images/shop/product/detail/bg_select.gif") no-repeat 0 0; display:block; height:22px; outline:none; position:absolute; right:0; top:0; }
.giftstore-conbox .cellphone .sbToggle:hover{} .sbToggleOpen{} .sbToggleOpen:hover{} .sbHolderDisabled{background: #fff; border:solid 1px #515151;}
.giftstore-conbox .cellphone .sbOptions {background-color:#fff; border:solid 1px #bababa; left:-1px; position:absolute;	top:22px; width:57px; z-index:1; overflow-y:auto;}
.giftstore-conbox .cellphone .sbOptions a:link, .sbOptions a:visited{color:#aaa; text-decoration:none;}
.giftstore-conbox .cellphone .sbOptions a:hover,.giftstore-conbox .cellphone .sbOptions a:focus,.giftstore-conbox .cellphone .sbOptions a.sbFocus{color: #d62b21;}
.giftstore-conbox .cellphone .sbOptions li.last a{border-bottom: none; padding:4px 7px 4px 10px; display:block;}
.giftstore-conbox .cellphone .sbOptions .sbDisabled{color: #666;display: block; padding: 7px 0 7px 3px;}
.giftstore-conbox .cellphone .sbOptions .sbGroup{color: #666; display: block; font-weight: bold; padding: 7px 0 7px 3px;}
.giftstore-conbox .cellphone .sbOptions .sbSub{padding-left: 17px;}
.giftstore-conbox .giftstore {padding-top:5px; height:80px;}
.giftstore-conbox .giftstore ul li {width:93px; float:left; text-align:right;}
.giftstore-conbox .giftstore ul li.one {width:90px;}
/*2014.02.18 박정하 중문 적립금증정 페이지 수정*/
.giftstore-conbox.cGift{background:url(//image.ssgdfs.com/images/shop/cn/mypage/popup/bg_gift.jpg) no-repeat 295px top;}
.giftstore-conbox.cGift .txt{margin:0 0 20px;}
.giftBox{margin:0 0 30px 20px;}

/* 쿠폰 이용안내 자세히 보기 */
.coupon-info {width:463px; height:auto;}
.coupon-info .title {height:26p; padding:0 0 10px 22px; background:url("//image.ssgdfs.com/images/shop/order/bg_h3.gif") no-repeat 0 0; border-bottom:2px solid #000;}
.coupon-info .s-title {margin-bottom:9px;}
.coupon-info .regi-box {height:200px; padding-top:20px;}
.coupon-info .regi-box p.sample {text-align:center; margin-bottom:20px;}
.coupon-info .regi-box .txt {width:425px; padding-left:9px; background:url("//image.ssgdfs.com/images/shop/order/dot_gray.gif") no-repeat 0 5px; line-height:18px; color:#555;}
.coupon-info .regi-box .txt span {font-weight:bold; color:#d21b21;}
.coupon-info .use-info {height:150px; margin-bottom:30px; position:relative;}
.coupon-info .use-info .s-title {position:absolute;left:0;top:10px;}
/*.coupon-info .use-info ol {width:auto; height:90px; background:url("//image.ssgdfs.com/images/shop/mypage/popup/bg_use_info.gif") no-repeat 0 bottom;}
.coupon-info .use-info ol li {width:109px; height:72px; padding:16px 10px 0 0; float:left; text-align:center;}
.coupon-info .use-info ol li.i-03 {width:100px; padding-top:13px;}
.coupon-info .use-info ol li.i-04 {width:109px; height:60px; padding:20px 0 0 0;}*/
.coupon-info .tit-box {padding:12px 0 12px 20px; margin-bottom:20px; line-height:20px; color:#777; border:1px solid  #cfcfcf; background:#f8f8f8;} 
.coupon-info .txt-tit {display:block; padding:0 0 0 11px; background:url("//image.ssgdfs.com/images/shop/mypage/dot_check.gif") no-repeat 0 7px; color:#888; font-size:11px; line-height:22px;}
.coupon-info .tit-box div {padding-bottom:19px;}
.coupon-info .tit-box .txt-tit span {display:block; margin-top:-7px;}
.coupon-info .tit-box .top-tit {padding-bottom:7px;}

 
/* 프리미엄상품평 */
.prbox_scroll .pop-review .re-product {height:158px; margin-bottom:30px; border:1px solid #cfcfcf;}
.prbox_scroll .pop-review .re-product p.img-product {width:160px; float:left; padding:30px 0; text-align:center;}
.prbox_scroll .pop-review .product-info {width:500px; padding:27px 0; margin-right:20px; float:left;}
.prbox_scroll .pop-review .product-info .category {padding-bottom:12px; color:#333;}
.prbox_scroll .pop-review .product-info .brand {font-size:12px; font-weight:bold; color:#333;}
.prbox_scroll .pop-review .product-info .brand a {color:#333;}
.prbox_scroll .pop-review .product-info ul {padding-top:13px; margin-top:13px; border-top:1px solid #e5e5e5;}
.prbox_scroll .pop-review .product-info ul li {width:100px; float:left; padding-left:8px; background:url("//image.ssgdfs.com/images/shop/order/dot_gray.gif") no-repeat 0 6px; color:#333;}
.prbox_scroll .pop-review .product-info ul li span {margin:0 6px 0 10px;font-size:11px; color:#333; font-family:"Tahoma" , "타호마";}

.prbox_scroll .pop-review {width:700px; height:auto;}
.prbox_scroll .pop-review table {border-top:2px solid #555;}
.prbox_scroll .pop-review table thead th {height:40px;border-bottom:1px solid #cdcdcd; font-weight:normal; color:#333; font-size:12px;}
.prbox_scroll .pop-review table thead th.title {text-align:left;}
.prbox_scroll .pop-review table thead th.title span {margin-left:20px; font-weight:bold;}
.prbox_scroll .pop-review table thead th p.user-info {text-align:right;margin-right:5px; font-size:12px; color:#333;}
.prbox_scroll .pop-review table thead th p.user-info span.user-id {margin:0 2px 0 4px; color:#999;}
.prbox_scroll .pop-review table thead th p.user-info span.uesr-age {color:#666;}
.prbox_scroll .pop-review table thead th span.fta {margin-left:8px; font-size:11px; font-family:"Tahoma" , "타호마"; color:#999;}
.prbox_scroll .pop-review table tbody td {padding-bottom:16px; border-bottom:1px solid #cdcdcd;}
.prbox_scroll .pop-review table tbody td .review-con {position:relative;}
.prbox_scroll .pop-review table tbody td .review-con .review-tit {height:40px;}
.prbox_scroll .pop-review table tbody td .review-con .review-tit .star-box {width:450px; float:left; margin:5px 0 0 0; font-size:11px; color:#333;}
.prbox_scroll .pop-review table tbody td .review-con .review-tit .star-box img {margin:0 -2px;}
.prbox_scroll .pop-review table tbody td .review-con .review-tit .star-box span {margin-left:22px;}
.prbox_scroll .pop-review table tbody td .review-con .review-tit .mobile-txt {width:210px; float:right; margin:5px 17px 0 0; font-size:11px; color:#999; text-align:right;}
.prbox_scroll .pop-review table tbody td .review-con .review-tit .mobile-txt img {margin:2px 4px 0 0; vertical-align:top;}
.prbox_scroll .pop-review table tbody td .review-con .review-tit {positon:relative; text-align:center;}
.prbox_scroll .pop-review table tbody td .review-con p {text-align:left; margin-left:20px; padding-top:7px; line-height:16px; font-size:12px; font-family:"돋움" , "Dotum";}
.prbox_scroll .pop-review table tbody td .review-con p.img-box {text-align:center; margin:0;}
.prbox_scroll .pop-review .revise {margin-top:10px; text-align:right;}
.product-info p.brand {margin-bottom:2px; font-size:12px; font-weight:bold; color:#333;}
.product-info p.brand a {color:#333;}
.product-info p.product {margin-bottom:2px; width:410px; height:35px; overflow:hidden;}
.product-info p.product a {color:#333;} 
.product-info p.copy-right {margin-bottom:2px; color:#999; font-size:11px;}
.product-info p.product-num {margin-bottom:2px; font-size:11px;}
.product-info p.product-num span{display:inline; color:#999;}
.prbox_scroll .pop-review table tbody th p {text-align:right; margin-right:5px;}
.prbox_scroll .pop-review table tbody th p.user-info {height:40px; margin-right:5px; text-align:right;}
.prbox_scroll .pop-review table tbody td p.mobile {width:auto; color:#757575; position:absolute; right:0; top:0; line-height:16px; font-size:11px; font-family:"돋움" , "Dotum";}
.prbox_scroll .pop-review table tbody td p.mobile img {vertical-align:middle; margin-right:2px;}

/*/ print css /*/

@media print {
    .contents .prbox_scroll {
        overflow: visible;
    }
}