@charset "utf-8";

.use-container {width:1000px; height:auto;}
.useinfo-box {width:1000px; height:661px; margin-bottom:30px; border-top:2px solid #3b3b3b; border-bottom:2px solid #ececec;}
.useinfo-box .useinfo-txt {width:199px; height:640px; float:left; padding:20px 0 0 20px; border-bottom:1px solid #c8c8c8;}
.useinfo-box .useinfo-txt .txt {padding:14px 0 20px 0;}
.useinfo-box .useinfo-step {width:780px; height:660px; float:left; padding-left:1px; border-bottom:1px solid #c8c8c8; background:url("//image.ssgdfs.com/images/shop/cn/etc/bg_box.gif") repeat-y 0 0;}
.about-info {width:1000px; height:237px; margin-bottom:30px; border-top:2px solid #3b3b3b; border-bottom:1px solid #e2e2e2;}
.about-info p {text-indent:-9999em;}

.members .useinfo-txt {background:url("//image.ssgdfs.com/images/shop/cn/etc/members_bg.gif") no-repeat 0 203px #f3f3f3;}
.shopping .useinfo-txt {background:url("//image.ssgdfs.com/images/shop/cn/etc/shopping_bg.gif") no-repeat 0 186px #f3f3f3;}
div.order {height:675px;}
.order .useinfo-txt {height:654px; background:url("//image.ssgdfs.com/images/shop/cn/etc/order_bg.gif") no-repeat 0 172px #f3f3f3;}
.order .useinfo-step {height:674px;}
div.item {height:301px;}
.item .useinfo-txt {height:280px; background:url("//image.ssgdfs.com/images/shop/cn/etc/item_bg.gif") no-repeat 0 176px #f3f3f3;}
.item .useinfo-step {height:300px;}


.product-review .title {padding-left:23px; margin-bottom:10px; background:url("//image.ssgdfs.com/images/shop/cn/common/bg_h3.gif") no-repeat 0 0;}