
.dbtt {
	font-size:40px;
	color:#0489CA;
	font-weight:bold;
	padding-left:12px;
}

.dbtt_low {
	font-size:20px;
	color:#0489CA;
	font-weight:bold;
}

.timett {
	font-size:18px;
	color:#9C9C9C;
}

#maxtable1 td {
	position: relative;
}
#maxtable1 img {
	position: relative;
	margin: 0;
}

.spDrNm {
	font-size:22px;
	color:#a0a0a0;
	/* color:#0085c5; */
	font-weight:bold;
}

.spVal000 {
	font-size:25px;
	color:#000000;
	/* font-weight:bold; */
}

.spValRed {
	font-size:25px;
	color:red;
/* 	font-weight:bold; */
	margin-right : 20px;
}

div.leftdivtt {
	width : 100%;
	height: 20px;
	margin-left: 80px;
	text-align: left;
	position: relative;
	/*font: bold 175% 微软雅黑;*/
	color: #CCCCCC;
}

div.weatherimg {
	width : 60px;
	height: 50px;
	position: relative;
	margin-left: 80px;
}

div.weathertxt {
	width : 150px;
	position: relative;
	padding: 0;
}

.shengtxt {
	position: absolute;
	left: 42px;
	top:35px;
}
