
/*************************************************************************/

.anqing {
	top: -7px;
}
.wuhub {
	top: -12px;left:-1px;
}
.xuancheng {
	top: -3px;
}
.bengbu {
	top: 15px;left: -3px;
}
.fengyang {
	top: 18px;left: 5px;
}
.baimiao {
	top: -7px;left: 15px;
}
.chuzhou {
	top: -3px;left: 25px;
}

.liuan {
	top: 21px;left: -15px;
}
.hefei1 {
	top: 13px;left: 18px;
}
.feixi {
	top: 8px;left: 10px;
}

.wufeng {
	top: -8px;left: 14px;
}
.wanzhou{
	top: -9px;left: 10px;
}
.changjiang{
	left: -10px;top: 9px;
}
.tonghe{
	left: -8px;top: 3px;
}
.yujiang{
	left: 5px;top:-3px;
}
.yunan{
	left: 14px;top:-10px;
}
.fuwubu{
	left: -15px;top:5px;
}
.fuling{
	left:18px;top:-7px;
}
.zhongshifeng{
	left:-3px;
}
.qianjiang{
	left:-15px;top:18px;
}
.jiangyong{
	left: 0px;top: 0px;
}
.qiwannan{
	left: -5px;top: 0px;
}


/**福建**/
.nanping{
	left: 16px;top: 13px;
}

.jianyang{
	top: 23px;
}
.ningde{
	left: 13px;top: -2px;
}
.sanming{
	top: 20px;
}
.fuzhou1{
	left: 12px;top: 0px;
}
.longyan{
	left:15px;top:5px;
}
.putian{
	left:18px;top:5px;
}
.quanzhou{
	top:15px;left:2px;
}
.xiamen{
	top:6px;left:-22px;
}
.zhangzhougang{
	top:5px;left:8px;
}

/*********甘肃***********/
.guazhou{
	top:-18px;left:-15px;
}
.dunhuang{
	top:18px;left:-18px;
}
.jiujia{
	top:20px;left:20px;
}
.zhangye{
	top:21px;left:10px;
}
.weiwu{
	top:-12px;left:-12px;
}
.lanzhou1{
	top:7px;left:-7px;
}
.xifeng{
	top:16px;left:16px;
}
.pingliang{
	top:-10px;left:0px;
}
.tianshui{
	top:-8px;left:3px;
}
.wudu{
	top:0px;left:-5px;
}
.lixian{
	top:-8px;left:-18px;
}
.anpuhe{
	top:-4px;left:13px;
}
.xinjiaoji{
	top:3px;left:-15px;
}
.sanmenxia{
	top:-15px;left:-8px;
}
.luoyang{
	top:0px;left:-8px;
}
.zhengkaishang{
	top:-4px;left:-12px;
}
.xinluozhou{
	top:20px;left:9px;
}
.pingdingshan{
	top:2px;left:8px;
}
.nanyang{
	top:4px;left:13px;
}
.zhumadian{
	top:-5px;left:-3px;
}
.xinyang{
	top:-20px;left:2px;
}
.yunxian{
	top:19px;left:3px;
}
.shiyan{
	top:-15px;left:2px;
}
.zhushan{
	top:7px;left:9px;
}
.xiangyang{
	top:7px;left:-14px;
}
.suizhou{
	top:0px;left:0px;
}
.macheng{
	top:5px;left:18px;
}
.xingshan{
	top:11px;left:-8px;
}
.badong{
	top:-3px;left:9px;
}
.yichang{
	top:-11px;left:-11px;
}
.shien{
	top:16px;left:4px;
}
.jingzhou{
	top:5px;left:15px;
}
.jingmen{
	top:0px;left:0px;
}
.jingshan{
	top:-3px;left:10px;
}
.xiaogan{
	top:0px;left:-16px;
}
.xiantao{
	top:14px;left:-6px;
}
.xianning{
	top:0px;left:10px;
}
.wuxue{
	top:18px;left:-4px;
}
.huanggang{
	top:-12px;left:-19px;
}
.huangshi{
	top:-8px;left:3px;
}
.hanyang{
	top:3px;left:1px;
}
.qingshan{
	top:0px;left:0px;
}
.dongxihu{
	top:3px;left:0px;
}
.wuchang{
	top:0px;left:0px;
}
.hankou{
	top:0px;left:-9px;
}
.mangshi{
	top:4px;left:-7px;
}
.baoshan{
	top:0px;left:-14px;
}
.dali{
	top:-15px;left:-4px;
}
.chuxiong{
	top:0px;left:15px;
}
.kunming{
	top:3px;left:0px;
}
.qujing{
	top:-6px;left:-10px;
}
.simao{
	top:0px;left:0px;
}
.honghe{
	top:0px;left:-3px;
}
.wenshan{
	top:-10px;left:-13px;
}
.jinghong{
	top:8px;left:0px;
}
/*辽宁*/
.zhaoyang{
	top:-20px;left:4px;
}
.huludao{
	top:19px;left:9px;
}
.jinzhou{
	top:6px;left:0px;
}
.fuxin{
	top:-8px;left:-1px;
}
.shenyangllf{
	top:0px;left:0px;
}
.fushun{
	top:0px;left:-10px;
}
.tieling{
	top:5px;left:-5px;
}


/**沈阳斗山*/
.shenyang1{
	top:-5px;left:18px;
}
.benxi{
	top:5px;left:0px;
}
.anshan{
	top:8px;left:-12px;
}
.dandong{
	top:-13px;left:0px;
}

/*吉林*/
.baicheng{
	top:0px;left:-18px;
}
.songyuan{
	top:8px;left:12px;
}
.changchunllf{
	top:5px;left:-15px;
}
.jilin{
	top:-10px;left:-10px;
}
.siping{
	top:0px;left:0px;
}
.meihe{
	top:-18px;left:16px;
}
.baishan{
	top:0px;left:6px;
}
.dunhua{
	top:-10px;left:-6px;
}
.yanji{
	top:-8px;left:-2px;
}



/*江西*/
.jiujiang{
	top:10px;left:10px;
}
.nanchangllf{
	top:-8px;left:-8px;
}
.shangrao{
	top:-3px;left:4px;
}
.fuzhou2{
	top:0px;left:16px;
}
.yichun{
	top:0px;left:-10px;
}
.jian{
	top:-px;left:-6px;
}

/*苏州*/
.nantong{
	top:6px;left:-2px;
}
.suzhoullf{
	top:15px;left:-17px;
}


/*徐州*/
.fengpei{
	top:6px;left:10px;
}
.xuzhou1{
	top:20px;left:0px;
}
.sanbao{
	top:-1px;left:-10px;
}
.pizhou{
	top:-16px;left:16px;
}
.lianyungang{
	top:-16px;left:10px;
}
.suqian{
	top:0px;left:0px;
}
.shuyang{
	top:-18px;left:18px;
}
.huaian{
	top:0px;left:-7px;
}
.xuyi{
	top:0px;left:-4px;
}
.yangzhou{
	top:-4px;left:7px;
}
.jingjiang{
	top:5px;left:0px;
}

/* 南京科泰*/
.binhai{
	top:0px;left:7px;
}
.yancheng{
	top:3px;left:18px;
}
.jiangbei{
	top:-3px;left:1px;
}
.jiangning{
	top:-16px;left:0px;
}
.jiangnan{
	top:-26px;left:0px;
}
.zhenjiang{
	top:15px;left:-7px;
}
.taizhou{
	top:2px;left:-12px;
}
.liyang{
	top:17px;left:-5px;
}
.yixing{
	top:3px;left:0px;
}
.changzhou{
	top:-7px;left:-7px;
}
.wuxi{
	top:17px;left:8px;
}

/*长沙*/
.zhangjiajie{
	top:-16px;left:8px;
}
.changde{
	top:0px;left:12px;
}
.yueyang{
	top:-1px;left:3px;
}
.jishou{
	top:-16px;left:-10px;
}
.yiyang{
	top:-12px;left:0px;
}
.jingzhouchsh{
	top:0px;left:15px;
}
.changshallf{
	top:-13px;left:15px;
}
.chenxi{
	top:-10px;left:-10px;
}
.loudi{
	top:6px;left:-4px;
}
.xiangtan{
	top:16px;left:16px;
}
.huaihua{
	top:0px;left:-3px;
}
.shaoyang{
	top:-3px;left:2px;
}
.hengyang{
	top:6px;left:-15px;
}
.wugang{
	top:3px;left:-8px;
}
.yongzhou{
	top:-8px;left:0px;
}
.chenzhou{
	top:-5px;left:15px;
}






























