pre {
	display: inline-block;
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0px;
}

/***********************popover *************/ 

.radio,.checkbox {
	padding-left: 16px;
}

.radio input[type="radio"],.checkbox input[type="checkbox"] {
	margin-left: -16px;
}

.input-xxlarge {
	width: 310px;
}

form .input-center-no-padding {
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
}
/**************** dropdown  **********************/
.dropdown,.dropup {
	display: inline-block;
}

.dropdown ol.dropdown-menu,.dropdown ul.dropdown-menu,.dropup ol.dropdown-menu,.dropup ul.dropdown-menu
	{
	margin: 0;
}

.dropdown--right,.dropdown-right {
	display: inline-block;
}

.dropdown--right .dropdown-menu,.dropdown-right .dropdown-menu {
	left: auto;
	right: 0;
	text-align: right;
}

.dropdown-menu {
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 4px;
	min-width: 110px;
	margin: 0;
}

.dropdown-menu>li>a {
	padding: 3px 15px;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a
	{
	color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#648bf5),
		to(#2866f2));
	background-image: -webkit-linear-gradient(top, #648bf5, #2866f2);
	background-image: -moz-linear-gradient(top, #648bf5, #2866f2);
	background-image: linear-gradient(to bottom, #648bf5, #2866f2);
	-webkit-box-shadow: #5a82eb 0px 1px 0px inset, #1758e7 0px -1px 0px
		inset;
	box-shadow: #5a82eb 0px 1px 0px inset, #1758e7 0px -1px 0px inset;
}

.dropdown.hover:hover .dropdown-toggle,.dropup.hover:hover .dropdown-toggle
	{
	outline: 0;
}

.dropdown.hover:hover .dropdown-menu,.dropup.hover:hover .dropdown-menu
	{
	display: block;
}


.form-horizontal .btn-medium {
	padding: 8px 18px;
	font-size: 16px;
	border-radius: 6px;
}

.label,.badge {
	font-weight: normal;
	font-size: 12px;
}

.label-success[href],.badge-success[href] {
	background-color: #468847;
}
 

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,th,td {
	font-weight: normal;
	vertical-align: middle;
}

q,blockquote {
	quotes: none;
}

q:before,q:after,blockquote:before,blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
	{
	display: block;
}

.orange {
	color: #ff6600;
}

.dark-gray {
	color: #666666;
}

.green {
	color: #44bb00;
}

.red {
	color: #dd0000;
}

body {
	min-width: 1000px;
	font-size: 12px;
	line-height: 1.5em;
	font-family: "Microsoft YaHei", Helvetica, STHeiti, Verdana, Arial,
		Tahoma, sans-serif;
	background-color: #fff;
}

input,textarea {
	font-size: 12px;
	font-family: "Microsoft YaHei", "Malgun Gothic","맑은 고딕", Arial;
}

a {
	color: #07d;
	text-decoration: none;
}

a:hover,a:focus {
	color: #07d;
	text-decoration: none;
}

a.new-window {
	color: #00f;
}

a.new-window:hover,a.new-window:focus {
	color: #00f;
}

img {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

.container {
	zoom: 1;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.content {
	background-color: #fff;
	float: left;
	width: 100%;
	position: relative;
	zoom: 1;
}
 
.sidebar {
	width: 110px;
	float: left;
	margin-left: -100%;
	min-height: 800px;
}

.footer {
	position: absolute;
	left: 0px;
	bottom: 10px;
	width: 150px;
	text-align: center;
	font-size: 12px;
	color: #666;
}

.copyright {
	margin: 0;
}

.copyright a {
	color: #666;
}

.ui-header {
	min-width: 1000px;
	height: 70px;
	background: #d1102d; 
	margin-bottom: 20px;
}

.ui-header-inner { 
	position: relative;
	padding-left: 150px;
	padding-right: 0px;
}

.ui-header-logo {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0; 
	width: 150px;
	height: 70px;
	font-weight: normal;
	text-align: left;
	overflow: hidden; 
	text-align:center; 
	line-height: 70px;
	
}

.ui-header-logo img {
	vertical-align: middle;
	cursor: pointer;
}
 

.ui-header-nav {
	margin: 0;
	width: 870px;
	float: left;
	font-size: 17px; 
	height: 70px;
}

.ui-header-nav li {
	float: left;
	position: relative;
	padding-right: 20px; 
	padding-left: 20px; 
	height: 66px;
	line-height: 66px;
	margin-top: 4px;
}

.ui-header-nav li.active {
	background-color :#ffffff;
	border-color: #ffffff;
	color:#d20f2f;
}

.ui-header-nav li.active a {
	color: #d20f2f;
}
 
.ui-header-nav li:hover {
	border-bottom-color: transparent;
	background-color :#ffffff;
	border-color: #ffffff;
}

.ui-header-nav li>a {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.ui-header-nav li:hover > a {
	color:#d20f2f;
}

.ui-header-user {
	position:absolute;
	float:right;
	top:  0px;
	right: 0px;
	margin: 0; 
	line-height: 70px;
	color:inherit;
	text-align: right;
	width: 250px;
}
 
.ui-header-user .first-menu{
	float: right;
	position: relative;
	padding-right: 10px; 
	padding-left: 10px; 
}


.ui-header-user .first-menu:first-child{
	padding-right: 15px; 
}

.ui-header-user .first-menu:HOVER{
	
	background-color: #990017;
}
 
.ui-header-user .first-menu .submenu { 
	position: absolute;
	top: 70px;
	right: 0; 
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #990017;
	z-index: 20;
}
.ui-header-user .first-menu .submenu .second-menu {
	display: block;
	width : 120px;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height:20px;
	font-size: 14px;
	font-weight:bold;
	color: white;
	text-align: center;
 
}
 
 
 
  
.ui-footer {
	right:0;
	bottom:0;
	width: 1000px;
	height: 29px; 
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right : 20px;
	text-align: right;
	float: right;
	
} 
 
 

  
  /********* 中间内容 *************/
	 .ui-left-menu {
         float:left;
         width:15%;
         height:100%; 
     }
     .ui-right-content {
         float:left;
     /*     width:85%; */
         width:100%;
         height:100%; 
     	 padding-right: 15px;  
     	 box-sizing:border-box;
     	 min-height: 500px;
     } 

	 /********* 左侧菜单 *************/
	  ul.ui-menu{width:100%; } 
	  ul.ui-menu li {
		color:#727272;
		padding:6px ; 
		line-height: 20px;
		margin: 0;
		padding-left:10px;
	 }
	 
	 ul.ui-menu .menu-icon{
	    display : inline-block; 
	    position:relative;
	    float:left;
		height: 20px;
		width: 20px;
	 }
	 ul.ui-menu .menu-icon.icon-plus{
	 	background: url("/admin/images/icon/icon-plus.png") no-repeat scroll 0 0;
	 }
	 ul.ui-menu .menu-icon.icon-minus{
	 	background: url("/admin/images/icon/icon-minus.png") no-repeat scroll 0 0;
	 }
	 
	 
	ul.ui-menu  .ui-menu-level1{
		font-size:14px;  
		margin-left: 5px;
	}
 
	 ul.ui-menu li.selected span{
		color: #a2a2a2;
	 }
    
	ul.ui-menu li:not(.selected):hover{
		cursor:pointer;
		color: #b6424b;
	}
	ul.ui-menu li:not(.selected):active{
		cursor:pointer;
	}

	ul.ui-menu ol a.active{
/* 		//background:red;  */
		cursor:pointer;
		color: #b6424b;
	}
	
	ul.ui-menu ol a.active:after{
		display: inline-block;
		content: url(/admin/images/icon/icon-arrow-right.png) ;
		margin-left:  5px;
	}

	ul.ui-menu ol a:hover{
	/* 	 background:red;  */
		color: #b6424b;
		cursor:pointer;
	}
	ul.ui-menu ol a:active{
/* 	  background:red;  */
		cursor:pointer;
	}
 
	ul.ui-menu ol { 
		padding-left:0px; 
		border-top:none;
	}
	 
	ul.ui-menu a{
		color: #3f3f3f;
		text-decoration: none;
	}
	
	ul.ui-menu li.selected a {
		color: #ff6600;
	}
	
	ul.ui-menu .no {
		display:none;
	}
	ul.ui-menu ol a{ 
		display: block;
		margin-top:2px;
		margin-bottom:2px;
		line-height: 2em;
		padding-left: 35px;
		font-size:14px;
		border:0;
	}

	ul.ui-menu a:focus {outline-style:none; -moz-outline-style: none;}
 
 
 /***********************/
 
 
 
.ui-gridarea .grid {
	width: 100%;
}

.ui-gridarea .grid thead tr, .ui-gridarea table tbody tr {
	text-align: center;
}

.textalign {
	text-align: left;
	padding-left: 15px;
}

.ui-gridarea .grid thead td {
	height: 31px;
	background-color: #c5c5c5;
}

.ui-gridarea .grid thead td:first-of-type {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.ui-gridarea .grid thead td:last-of-type {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.ui-gridarea .grid tbody td {
	height: 35px;
	border-bottom: solid 1px #d6d6d6;
}


	.w6{
		width: 60px;
	}
	.w9{
		width: 90px;
	}
	.w12{
		width: 120px;
	}
	.w15{
		width: 150px;
	}
	.w18{
		width: 180px;
	}
	.w21{
		width: 210px;
	}
	.w24{
		width: 240px;
	}
	.w27{
		width: 270px;
	}
	.w30{
		width: 300px;
	}
	.w33{
		width: 330px;
	}
	.w36{
		width: 360px;
	}
	.w39{
		width: 390px;
	}
	.w42{
		width: 420px;
	}
	.w45{
		width: 450px;
	}
	.w48{
		width: 480px;
	}
	
	
	.sw6{
		width: 74px;
	}
	.sw9{
		width: 104px;
	}
	.sw12{
		width: 134px;
	}
	.sw15{
		width: 164px;
	}
	.sw18{
		width: 194px;
	}
	.sw21{
		width: 224px;
	}
	.sw24{
		width: 254px;
	}
	.sw27{
		width: 284px;
	}
	.sw30{
		width: 314px;
	}
	.sw33{
		width: 344px;
	}
	.sw36{
		width: 374px;
	}
	.sw39{
		width: 404px;
	}
	.sw42{
		width: 434px;
	}
	.sw45{
		width: 464px;
	}
	.sw48{
		width: 494px;
	}
	
	
	::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #a5a5a5;
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track-piece {
	background: url("/admin/images/scrollbar/scrollbar-thumb-vertical.png")
		left top repeat-y;
}


/* bPopup Css */
 
.bpopup{
 	display:none;background-color: #fff;width:1000px;height:600px; position: relative;
 }
 .bpopup .bpopupWarp{
 	position: relative;
 }
 .bpopup .bpopupWarp .bpopupHeaderWarp{
 	height: 40px;background-color: #d1102d;width: 100%;
 }
 .bpopup .bpopupWarp .bpopupHeaderWarp{
 	height: 40px;background-color: #d1102d;width: 100%;
 }
 .bpopup .bpopupWarp .bpopupHeaderWarp .bpopupTitle{
 	line-height: 40px;height: 40px;color: #fff;font-size: 16px; padding-left: 10px; display: inline-block;
 }
 .bpopup .bpopupWarp .bpopupHeaderWarp .bpopupColseWarp{
 	float: right; height: 40px;line-height: 40px;
 }
 
 .bpopup .bpopupWarp .bpopupHeaderWarp .bpopupColseWarp img{
 	margin-right: 10px;cursor:pointer; width: 14px; height: 14px;
 }
 .bpopup .bpopupWarp .bpopupContentWarp{
 	height:560px; width: 100%; position: relative;
 }
 
/* bPopup Css */