 @CHARSET "UTF-8";
.graph{
position:relative;
background-color:#F0EFEF;
border:1px solid #cccccc;
font-size:13px;
width:30%;
font-weight:100;
float:left;
margin-right:3px;
}
.color1, .color2, .color3, .color4, .color5{
position:relative;
text-align:left;
color:#ffffff;
height:10px;
line-height:10px;
font-family:Arial;
display:block;
}
.graph .color1{background-color:#669999;}
.graph .color2{background-color:#6699FF;}
.graph .color3{background-color:#FF9900;}
.graph .color4{background-color:#FF3333;}
.graph .color5{background-color:#990000;}
