@CHARSET "UTF-8";
.label-header{padding-top:5px;background-color: #f7f7f7;}
.header-warp{
	position:relative;
	background-image: url(/wxi/image/dkfManager/bg_top.png);
	background-size: 100% 100%;
}
.header-left{
	position:relative;
	float:left;
	display:inline-block;
}
.header-left .tab-title{
	float:left;
	display:inline-block;
	padding-right:10px;
	padding-left: 45px;
	height:36px;
	color:#fff;
 	font-size:16px;
	line-height:36px;
	width: 100%;
}
.header-warp .header-right{
	float:right;
	display:inline-block;
	margin-top:9px;
	margin-right:10px;
	cursor:pointer;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.labelheader{
	background-color: red;
}
.page{
	background-color: #fafafa;
}
.agent-item{
	border-bottom:1px solid #EAEAEA;
}
.agent-title-bar{
	position:relative;
	padding-left:10px;
	height:30px;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	background-color:#eaeaea;
	color:#333;
	font-size:14px;
	line-height:30px;
	margin-top: 10px;
}
a {
    color: black;
}
.group-title-icon{
	padding-right: 5px;
}
.keywork-warp ul{margin-top:5px;height:auto;}
.keywork-warp ul .text-keyword{float:left;list-style:none;}
.keyword-span{
	display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 125px;
    height: 30px;
    border: 1px solid #009901;
    border-radius: 4px;
    color: #333;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
}
.keyword-add {
    background: url(/wxi/image/dkfManager/plus.png) no-repeat center center;
}
.keywork-warp .clearfix li{width:125px;float:left;margin-left:10px;height:30px;border:1px solid #b8b8b8;border-radius:5px;margin-bottom:10px;background-color: #fff;line-height:30px;color:#333;cursor: pointer;}
.keywork-warp .clearfix li span{width:70px;margin-left:30px;word-break:break-word;text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;text-align: center;}
.keywork-warp .clearfix .key-world-select.selected{background-image: url("/wxi/image/dkfManager/duihao.png");background-position: 14px 9px ;background-repeat: no-repeat;background-size:16px 12px;background-color: #f7f7f7; }
.keywork-warp .clearfix .key-world-hover:hover{background-image: url("/wxi/image/seatManage/icon_xiugai.png");background-position: 14px 9px ;background-repeat: no-repeat;background-size:16px 12px;background-color: #f7f7f7; }
.agent-item{border-bottom:1px dashed #c9c9c9;padding-bottom:10px; }
.poup-div-msg-delete table thead tr td {
    padding-top: 10px;
    border-bottom:0px;
    height: 100px;
    line-height: 90px;
    font-size: 16px;
    text-align: center;
}
.poup-div-msg-delete table tbody tr td {
    height: 30px;
    line-height: 30px;
    color: inherit;
    margin-left: 15%;
}
.bpopupColseWarp{
	background-color: #F5F5F5;
    height: 45px;
  	border-top-left-radius: 3px;
   	border-top-right-radius: 3px;
   	background-image: url(/wxi/image/dkfManager/line.png);
   	background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;

} 
.b-close{
	width: 16px;
    margin-left: 95%;
    margin-top: 15px;
    cursor: pointer;
    
}
.popupBtn-close{
	display:inline-block;
	box-sizing:border-box;
	margin-bottom:10px;
	margin-left:10px;
	width:125px;
	height:30px;
	border:1px solid #b8b8b8;
	border-radius:4px;
	color:#333;
	text-align:center;
	font-size:12px;
	line-height:30px;
	background-image: url(/wxi/image/dkfManager/bt_close.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size:15% 60%;
}
.popupBtn-pass{
	display:inline-block;
	box-sizing:border-box;
	margin-bottom:10px;
	margin-left:10px;
	width:125px;
	height:30px;
	border:1px solid #b8b8b8;
	border-radius:4px;
	color:#333;
	text-align:center;
	font-size:12px;
	line-height:30px;
	background-image: url(/wxi/image/dkfManager/bt_pass.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size:15% 60%;
}
.tabs_title{
	margin-left:7%;
	margin-right:7%;
}
.active:focus{
	font-weight: bold;
	color: black;
   	text-decoration: underline;
}

 .seat-add-head-img .keyword-add-msg tbody tr td .keyword-group-select {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    overflow: hidden;
    background: url(/wxi/image/seatManage/seat_add3.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-color: #fff;
    font-family: Microsoft YaHei;
}
 .seat-add-head-img .keyword-add-msg_tuwen tbody tr td .keyword-group-select {
    width: 86%;
    height: 30px;
    margin-left:7%;
	margin-right:7%;
    border-radius: 4px;
    overflow: hidden;
    background: url(/wxi/image/seatManage/seat_add3.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-color: #fff;
    font-family: Microsoft YaHei;
}
.keyword-add-msg{
	margin-left:7%;
	margin-right:7%;
	width: 86%;
    font-size: 12px;
    color: #323232;
    text-align: left;
}
.keyword-add-msg_tuwen{
	width: 100%;
    font-size: 12px;
    color: #323232;
    text-align: left;
}

.seat-add-msg{width:100%;font-size:12px;color:#323232;text-align: left;}
.seat-add-head-img .keyword-add-msg_tuwen tr td{vertical-align: middle; }
.seat-add-head-img .keyword-add-msg_tuwen tr td .seat-head-img{width:50px;height:50px;border:1px solid #ccc;display: inline-block;}
.seat-add-head-img .keyword-add-msg_tuwen tr td .seat-head-img img{width:50px;height:50px;}
.seat-add-head-img .keyword-add-msg_tuwen tr td .upload-add-div{position: absolute;display:inline-block;bottom:0;}
.seat-add-head-img .keyword-add-msg_tuwen tr td .upload-head{color:#0098df;margin-left:10px;font-style:italic;}
.seat-add-head-img .keyword-add-msg_tuwen tr td .head-img-msg{color:#a9a9a9;font-style:italic;}
.seat-add-head-img .keyword-add-msg_tuwen  tbody tr td input{width:100%;height:30px;border-radius:4px;}
.seat-add-head-img .keyword-add-msg_tuwen  tbody tr td .seat-group-select{width:90%;height:30px;border-radius:4px; overflow: hidden;background: url(/wxi/image/seatManage/seat_add3.png) no-repeat right #ddd;-webkit-appearance: none;background-color: #fff;}
.seat-add-head-img .keyword-add-msg_tuwen  tbody tr td .select-click-img{position: absolute;right:10.5%;top:22px;}

.seat-add-head-img .keyword-add-msg tr td{vertical-align: middle; }
.seat-add-head-img .keyword-add-msg  tbody tr td input{width:90%;height:30px;border-radius:4px;}
.seat-add-head-img .keyword-add-msg  tbody tr td .seat-group-select{width:90%;height:30px;border-radius:4px; overflow: hidden;background: url(/wxi/image/seatManage/seat_add3.png) no-repeat right #ddd;-webkit-appearance: none;background-color: #fff;}
.seat-add-head-img .keyword-add-msg  tbody tr td .select-click-img{position: absolute;right:10.5%;top:22px;}

.file_button{ 
    border:1px solid #ccc; 
    background:#fff; 
    color:#000; 
    padding:5px 15px; 
    border-radius: 5px;
    height: 40px;
} 
.file_select{
	font-style: italic;
	cursor: pointer;
	color: 97CEEF;
	text-decoration: underline;
}
.msg_display{
	display:none
}
.tabs_title .active{
	font-weight: bold;
	color: black;
   	text-decoration: underline;
}
.keyword-add-submit{width:100%;text-align: center;background-color: #fff;margin-top:30px;cursor: pointer;}
.keyword-add-submit div{width:100px;height:30px;border-radius:4px;border:1px solid #009900;text-align: center;line-height:30px;font-size:14px;color:#707070;display:inline-block;}
