@CHARSET "UTF-8";

 body{margin: 0; padding: 0; font-family: "Microsoft YaHei", "Malgun Gothic","맑은 고딕", Arial; font-size: 14px;} 

.logoBg {width: 100%; height: 66px; position: relative;}
.logoBg .logo {float: left; width: 64px; height: 64px; line-height: 64px; text-align: center; border: 1px solid #e7e7e7; margin-left: 22px; box-shadow: 0 0 5px #f7f7f7; background-color: #fff; display: inline-block;}
.logoBg .logo img {width: 62px; height: 62px; margin-bottom: 1px;}
.logoBg .logoTextBg {float: left; height: 66px; margin-left: 18px; line-height: 66px; font-size: 14px;}
.logoBg .logoTextBg .logoShop {margin-left: 76px;}

.logoBg .ditleBg {float: right; width: 127px; height: 14px; font-size: 14px; margin-right: 100px; margin-top: 37px; position: relative; cursor: pointer; background-color: #ffffff;}
.logoBg .ditleBg img {float: left; margin-left: 20px;}
.logoBg .ditleBg .ditleText {height: 14px; float: left; margin-top: -2px; margin-left: 18px;}

.indLine {width: 100%; height: 188px; border: 1px solid #d2d2d2; position: relative; z-index: -1; top: -20px;}
.indLine .indOne {float: left; width: 280px; height: 100px; margin-top: 44px; margin-left: 120px; position: relative;}
.indLine .indTwo {float: left; width: 280px; height: 100px; margin-top: 44px; margin-left: 50px; position: relative;}
.leftImg {float: left; width: 7px; height: 98px; background-color: #ff6d00; border-radius: 10px 0px 0px 10px; border: 1px solid #d2d2d2;}
.indText {float: left; width: 269px; height: 98px; border-radius: 0px 10px 10px 0px; border-top: 1px solid #d2d2d2; border-right: 1px solid #d2d2d2; border-bottom: 1px solid #d2d2d2; position: relative;}
.bigCnt {width: 150px; height: 98px; float: left; text-align: center;}
.bigCnt .month {width: 100%; height: auto; font-size: 14px; margin-top: 25px;}
.bigCnt .cnt {width: 100%; height: auto; font-size: 26px; margin-top: 15px;}
.cntLine {width: 1px; height: 80px; background-color: #a2a2a2; float: left; margin-top: 9px;}
.smallCnt {width: 118px; height: 98px; float: left; font-size: 14px; text-align: center;}
.smallCnt .duibiBg {width: 100%; height: 14px; margin-top: 30px; position: relative;}
.smallCnt .duibiBg .l1 {float: left; width: 30px; height: 14px; margin-left: 10px;}
.smallCnt .duibiBg .l2 {float: left; width: 55px; height: 14px; margin-left: 5px; text-align: left;}
.smallCnt .duibiBg .l3 {float: left; width: 6px; height: 14px; background-image: url("/admin/images/icon2/up.png");background-repeat: no-repeat; margin-top: 2px;}
.smallCnt .duibiBg .l4 {float: left; width: 6px; height: 14px; background-image: url("/admin/images/icon2/down.png");background-repeat: no-repeat; margin-top: 2px;}
.smallCnt .fmonth {width: 100%; height: 14px; margin-top: 15px; position: relative;}
.smallCnt .fmonth .l1 {float: left; width: 30px; height: 14px; margin-left: 10px;}
.smallCnt .fmonth .l2 {float: left; width: 50px; height: 14px; margin-left: 5px; text-align: left;}
.ml15 {margin-left: 15px;}

.payTypeBg {width: 100%; height: 14px;}
.payTypeBg img {margin-top: -4px;}
.payTypeBg span {margin-left: 12px; font-size: 14px;}

.payBg {width: 100%; height: auto; border: 1px solid #d2d2d2; margin-top: 8px;}
.payDaBg {width: 100%; height: 110px; position: relative;}
.payDaBg .payImg {float: left; width: 17%; height: 110px; line-height: 110px; text-align: center;}
.payDaBg .payImg img {width: 66px; height: 54px;}

.payDaBg .payComment {float: left; width: 35%; height: 110px;}
.payDaBg .payComment .payCommentText {width: 80%; height: 60px; word-wrap: break-word; word-break: normal; margin-top: 28px;}

.payDaBg .payBank {float: left; width: 30%; height: 110px;}
.payDaBg .payBank .timeBg {width: 100%; height: 14px; position: relative; margin-top: 35px;}
.payDaBg .payBank .timeBg .shuLine {width: 4px; height: 14px; background-color: #3574de; float: left;}
.payDaBg .payBank .timeBg .timeText {width: 90%; height: 14px; float: left; margin-left: 10px; font-size: 12px; margin-top: -1px;}
.payDaBg .payBank .bankBg {width: 100%; height: 14px; position: relative; margin-top: 15px;}
.payDaBg .payBank .bankBg .shuLine {width: 4px; height: 14px; background-color: #3574de; float: left;}
.payDaBg .payBank .bankBg .bankComment {width: 90%; height: 14px; float: left; margin-left: 10px; font-size: 12px; margin-top: -1px;}

.payDaBg .option {float: left; width: 10%; height: 110px;}
.payDaBg .option .qyong {width: 100%; height: 18px; margin-top: 50px;}
.payDaBg .option .qyong img {width: 20px; height: 18px; margin-top: -5px;}
.payDaBg .option .qyong span {font-size: 14px; margin-left: 16px;}
.payDaBg .option .tyong {width: 100%; height: 18px; margin-top: 10px; cursor: pointer;}
.payDaBg .option .tyong img {width: 20px; height: 18px; margin-top: -5px;margin-right: 10px;}
/* .payDaBg .option .tyong span {font-size: 16px; margin-left: 16px;} */
.payline {width: 98%; height: 1px; background-color: #d6d6d6; margin: 0 auto;}



.topBorder {width: 100%; height: 24px; margin-top: 30px; border-top: 1px solid #d2d2d2; position: relative;}
.ui-orders {position: absolute; top: -10px; left: 0px; z-index: 1; background-color: #ffffff;}
.ui-orders img {margin: -4px 10px 0px 0px;}
.ui-orders span {margin-right: 20px; font-size: 16px;}
.search {position: absolute; top: -12px; right: 100px; z-index: 1; background-color: #ffffff; cursor: pointer;}
.search img {margin: -4px 10px 0px 20px;}
.search span {margin-right: 20px;}
.plus {position: absolute; top: -12px; right: 200px; z-index: 1; background-color: #ffffff; cursor: pointer;}
.plus img {margin: -4px 10px 0px 20px;}
.plus span {margin-right: 20px;}
.newLine {position: absolute; top: -7px; right: 199px; z-index: 1; width: 1px; height: 12px; background-image: url("/admin/images/goodsSell/top_line.png"); background-repeat: no-repeat; }

.condBg {width: 100%; height: 68px; border: 1px solid #d2d2d2; line-height: 68px; position: relative;}
.condBg .condText1 {float: left; font-size: 14px; margin-left: 15px;}
.condBg .condCom1 {float: left; display: inline-block;}
.condBg .condCom1 .rightSelect {width: 228px; padding: 0; margin-bottom: 3px; font-size: 14px; margin-left: 15px;}
.condBg .condText2 {float: left; font-size: 14px; margin-left: 100px;}
.condBg .condCom2 {float: left; display: inline-block;}
.condBg .condCom2 .rightSelect {width: 228px; padding: 0; margin-bottom: 3px; font-size: 14px; margin-left: 15px;}
select, textarea, input{font-family: "Microsoft YaHei", "Malgun Gothic","맑은 고딕", Arial;}

table{width:100%;}
.grid.excel{margin-top:30px;}
.theadFirstTd{text-align: left;width:5%;"}
.tbodyFirstTd{text-align: left;"}
.theadFirstTd input{margin-left:15px;width:14px;height:14px;margin-bottom:6px;margin-top:7px;}
.theadFirstTd span{margin-top:4px;position: absolute;}
.tbodyFirstTd input{margin-left:15px;width:13px;height:13px;}
.ui-gridarea.clearfix table tbody tr{height:40px;text-align: center;}
.ui-gridarea.clearfix table tbody tr td{border-bottom:1px solid #eeeeee;}
.ui-gridarea.clearfix table tfoot img { cursor: pointer; margin-bottom: 6px;}
.ui-gridarea.clearfix table tfoot tr { height: 80px; }
.ui-gridarea .grid .select2 { width: 100px;　margin-left:20px; margin-right: 20px; margin-top: -3px; }
.ui-gridarea.clearfix table tfoot .pageShowNum { display: inline-block;  position: absolute; top:22px; }


.btn-icon {display: inline-block; width: 29px; height: 25px; position: relative; cursor: pointer; background-repeat: no-repeat; background-position: center;}
.btn-icon.icon-edit {background-image: url("/admin/images/goodsClass/main_edit.png");}
.btn-icon.icon-redstop {background-image: url("/admin/images/goodsClass/main_redstop.png"); margin-left: 5px;}
.btn-icon.icon-stop {background-image: url("/admin/images/goodsClass/main_stop.png"); margin-left: 5px;}
.btn-icon.icon-start {background-image: url("/admin/images/goodsClass/main_start.png"); margin-left: 5px;}
.btn-icon.icon-delete {background-image: url("/admin/images/goodsSell/main_delete.png"); margin-left: 5px;}
.btn-tip {position: absolute; right: 20px; top: -5px; width: 40px; height: 20px; line-height: 20px; text-align: center; border-radius: 20px; background-color: #3574db; color: #fff; display: none;}


.poupMessage{
	position: absolute;
	background-color: #ffffff;
	left:-280px;
	border:1px solid #eeeeee; 
	border-radius:5px;
	width:512px;
	height:480px;
/* 	z-index: 2000; */
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#e0e0e0,direction=120, strength=2);
	-moz-box-shadow: 2px 2px 10px #e0e0e0;
	-webkit-box-shadow: 2px 2px 10px #e0e0e0;
	box-shadow: 0px 0px 10px #e0e0e0;
}
 .poupMessage .poupMessageTable {
	height:35px;
	width:512px;
	border-radius:5px;
	text-align: center;
	font-size:15px;
	text-align: left;
}
 .poupMessage .poupMessageTable .poupTableHead td{
	height:35px;
	background-color: #d1102d;
	border-radius:5px 5px 0px 0px;
	font-size:14px;
	color: #ffffff;
	text-align:left;
}
 .poupMessage .poupMessageTable .poupTableHead td span{
 	margin-left:20px;
 }
 .exitPoup{margin-right:20px;width:14px;height:14px;cursor: pointer;}

.poupMessage .poupMessageTable  .tdTitle{height: 45px;line-height: 45px;width: 35%;text-align: left;padding-left: 40px;}
.poupMessage .Table  .tdContent{height: 45px;line-height: 45px;width: 65%;text-align: left;}
.calendar { background-image: url("/admin/images/orders/calendar.png"); background-repeat: no-repeat; background-position: 95% 6px;}

.icon-tip{margin-top: -2px; width: 18px;height: 18px;cursor: pointer;margin-left: 5px;}
.icon-tip2{margin-top: -2px; width: 18px;height: 18px;cursor: pointer;margin-left: 9px;}
.upload-goods-img-div{width:80px;height:80px;border:1px solid #eee;text-align: center;background-image: url("/admin/images/shopCreate/main_Upload.png");background-repeat: no-repeat;background-position: 20px 15px;}
.upload-goods-img-div span{margin-top:45px;display:inline-block;font-size:12px;color:#313131;}
.image-tip{
	color: red;font-size:12px;margin-top: 0px;
}


