@CHARSET "UTF-8";
html,body{
	height: 98%;
}
/* 查询条件DIV */
#divQueryCondition{
	position: relative;
	width: 98%;
	height: 15%;
	float: left;
	top: 15px;
	left: 5px;
}

/* 设定检索条件表格中的行高度 */
#divQueryCondition table tr{
	height: 33%;
}

/* 机构目录外层DIV */
#divOrganizationCatalog{
	position: relative;
	height: 75%;
}


#divKendoOrganizationData{
	position: relative;
	top: 0px;
}

/*************公共**************/
.button-style{
	width: 80px;
	height: 20px;
	position: relative;
}
/* 贴右侧的样式 */
.moveRight{
	position: relative;
	float: right;
	right: 0px;
}

/* 能填充满表格单元格的样式 */
.insideTdStyle{
	position: relative;
	width: 99%;
	height: 100%;
}

div.layout{
	height: 98%;
}